<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
{{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}

{{!-- hero section start --}}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">Wati Affiliate Program</span>
        <h1><br><strong>The easiest way to partner with Wati</strong></h1>
          <p>Partner with Wati and earn a generous recurring commission.</p>
      <div class="btns">
         <a href="#become-an-aff" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Become an Affiliate</a>
        <br><br>
        </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-0">
      <div class="image-full"><video id="one" class="home-video" muted="muted" autoplay="autoplay" preload="auto" playsinline loop width="530" height="532" poster>
        <source src="/vedios/affiliate-banner-video-new.mp4" type="video/mp4">
        </video>
      </div>
      </div>
    </div>
        </div>
      </div>
    </div>
 {{!-- hero section end    --}}


<section class="waf9 paddwat60" style="background:#FDE6FF;" id="testimonial_content_section">
   <div class="container" style="padding-left:5%; padding-right:5%;">
       <div class="row">
           <div class="col-md-12">
               <h2 style="text-align:center; padding-bottom:20px;"><strong>Hear from Our Affiliates</strong></h2>
           </div>
           <div class="col-md-6 col-sm-12">
               <div class="tm_content">
                   <div class="tm_video" style="align-items: left;">
                       <div id="tm_video_wrap">
                           <div id="tm_video_items">
                               <div class="vdo_img_add">
                                   <a href="https://youtu.be/FeVQsYYL7SU" data-lity>
                                       <img class="tm_yt_thumb" src="/images/hugo-testimonial-new.webp" alt="Hugo Testimonial">
                                   </a>
                                   <div class="tooltip">
                                       <div class="base-inner">
                                           <div class="video-author-message">
                                               <h4>Hugo</h4>
                                               <p>Lorem ipsum content first</p>
                                           </div>
                                           <div class="video-author-details">
                                               <h5>John Doe</h5>
                                               <p>CEO</p>
                                           </div>
                                       </div>
                                   </div>
                               </div>

                               <div class="vdo_img_add">
                                   <a href="https://www.youtube.com/watch?v=2-aG6CNHqmo&ab_channel=Wati" data-lity>
                                       <img class="tm_yt_thumb" src="/images/jane-testimonial.webp" alt="Jane Testimonial">
                                   </a>
                                   <div class="tooltip">
                                       <div class="base-inner">
                                           <div class="video-author-message">
                                               <h4>Jane</h4>
                                               <p>Lorem ipsum content first</p>
                                           </div>
                                           <div class="video-author-details">
                                               <h5>John Doe</h5>
                                               <p>CEO</p>
                                           </div>
                                       </div>
                                   </div>
                               </div>

                               <div class="vdo_img_add">
                                   <a href="https://www.youtube.com/watch?v=hy-GCB_jwiY&ab_channel=Wati" data-lity>
                                       <img class="tm_yt_thumb" src="/images/satraj-testimonial.webp" alt="Satraj Testimonial">
                                   </a>
                                   <div class="tooltip">
                                       <div class="base-inner">
                                           <div class="video-author-message">
                                               <h4>Satraj</h4>
                                               <p>Lorem ipsum content first</p>
                                           </div>
                                           <div class="video-author-details">
                                               <h5>John Doe</h5>
                                               <p>CEO</p>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <div class="col-md-6 col-sm-12">
               <i class="fa fa-quote-left"></i>
               <div class="carousel slide" id="fade-quote-carousel" data-bs-ride="carousel" data-bs-interval="5000">
                   <!-- Carousel items -->
                   <div class="carousel-inner">
                       <div class="carousel-item active">
                           <div class="profile-circle" style="background-color: rgba(0,0,0,.2); background-image: url(images/vikas.webp)">
                           </div>
                           <div class="testi-text">
                               <p><strong>"It's a win-win-win</strong> with Wati's affiliate program. Clients thrive with a top-tier WhatsApp Automation tool, you earn recurring commissions, and together, we all succeed. <strong>I honestly believe everyone should give Wati a try."</strong></p>
                               <span><b>Vikas Agrawal</b></span>
                               <span>Mentors Success Partner- vikasagrawal.com</span>
                           </div>
                       </div>
                       <div class="carousel-item">
                           <div class="profile-circle" style="background-color: rgba(0,0,0,.2); background-image: url(images/jane.webp)">
                           </div>
                           <div class="testi-text">
                               <p><strong>"</strong>As a digital marketing agency founder in Mexico, I struggled with timely lead responses until using Wati. Its WhatsApp integration let us engage leads instantly and <strong>its affiliate program provided an additional income stream."</strong></p>
                               <span><b>Jane Novikova</b></span>
                               <span>Founder of Click2revenue.com, Mexico</span>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>


{{!-- accordian start --}}
 <section class="waf1 accordion-item">
    <div class="container space" style="background-color: rgb(249, 218, 255);">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
    <h1 style="text-align: center; padding-bottom:40px; padding-top:40px;"><strong>Join the Wati Affiliate Program</strong></h1>
        <div class="col-md-4 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" width="26" height="26" src="/images/workflw.svg">
            <br><h4 class="h4" style="color: #1d1d1d;">It's Easy</h4> 
             <br> <span>Just promote Wati as a leading WhatsApp API solution using blogs, videos, tutorials, or any promotional or social channel and invite contacts to click our affiliate URL link.</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-md-4 col-sm-12">
        <div class="info-box">
          <div class="default"><a href="#"><img width="26" height="26" src="/images/bigger-zapier.webp" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">No Tech,Zero Cost</h4>
      <br><span>There's no technical integration other than embedding the link in your channel communications and there is zero cost for signing up to the affiliate program.</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" width="26" height="26" src="/images/nocode.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Enjoy a 2 Year Earn Out!</h4>
      <br>  <span>Earn generous commissions for verified conversions of affiliate referrals for 2 years once your customers and followers complete the sign up and payment process.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}



{{!-- slider start --}}

 {{> slider}}

{{!-- slider end --}}




{{!-- accordian start --}}
 <section class="waf1 accordion-item">
    <div class="container space">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
    <h1 style="text-align: center; padding-top:40px;"><strong>Why become a Wati affiliate?</strong></h1>
    <h3>Wati is the world's favourite WhatsApp Business API platform, serving over 8,000 customers across more than 100 countries. Join our network of over 5,000 affiliates and help businesses thrive with our advanced WhatsApp API platform.</h3>    
        <div class="col-md-4 col-sm-12">
          <div class="info-box1">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" width="260" height="255" src="/images/trust.webp">
            <br><h4 class="h4" style="color: #1d1d1d;">Be More Trusted</h4> 
             <br> <span>Increase your trust level with your contacts and followers by recommending one of the fastest growing WhatsApp Business API solution providers.</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-md-4 col-sm-12">
        <div class="info-box1">
          <div class="default"><a href="#"><img width="260" height="255" src="/images/solveproblem.webp" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">Solve Customer Problems</h4>
      <br><span>Why refer your customers or followers to untrusted third parties when you can add value and solve problems as part of our ecosystem?</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="info-box1">
        <div class="default"><a href="#"><img alt="visibility" width="260" height="255" src="/images/reward.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">Get Rewarded for Success</h4>
      <br>  <span>We succeed together. Our success is your success. Share in our highly rewarding commission structure.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}

{{!-- form start --}}
<div id="become-an-aff" class="mt50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb30 mb-5"><strong>Become an Affiliate Today!</strong></h2>
                <form class="form needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <input type="text" class="form-control mb-4" id="validationCustom01" placeholder="First Name" required>
                    </div>
                    
                    <div class="col-md-6 col-sm-12">
                        <input type="text" class="form-control mb-4" id="validationCustom02" placeholder="Last Name" required>
                    </div>
                    
                    <div class="col-md-6 col-sm-12">
                        <input type="email" class="form-control mb-4" id="email" placeholder="Email" required>
                    </div>
                    
                    <div class="col-md-6 col-sm-12">
                        <input type="text" class="form-control mb-4" id="companyName" placeholder="Company Name" required>
                    </div>
                    
                    <div class="col-md-6 col-sm-12">
                        <select name="dl_City" id="dl_City" class="form-control mb-4">
                            <option value="choose country">-Choose country-</option>
                            <option value="2">Afghanistan</option>
                            <option value="1">Albania</option>
                            <option value="4">Algeria</option>
                            <option value="3">Andorra</option>
                            <option value="5">Angola</option>
                            <option value="6">Antigua and Barbuda</option>
                            <option value="7">Argentina</option>
                            <option value="8">Armenia</option>
                            <option value="9">Australia</option>
                            <option value="10">Austria</option>
                            <option value="11">Azerbaijan</option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Benin">Benin</option>
                            <option value="Bhutan">Bhutan</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                            <option value="Botswana">Botswana</option>
                            <option value="Brazil">Brazil</option>
                            <option value="Brunei">Brunei</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Burkina Faso">Burkina Faso</option>
                            <option value="Burundi">Burundi</option>
                            <option value="Cabo Verde">Cabo Verde</option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Cameroon">Cameroon</option>
                            <option value="Canada">Canada</option>
                            <option value="Central African Republic">Central African Republic</option>
                            <option value="Chad">Chad</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Comoros">Comoros</option>
                            <option value="Congo, Democratic Republic of the">Congo, Democratic Republic of the</option>
                            <option value="Congo, Republic of the">Congo, Republic of the</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Cote d'Ivoire">Cote d'Ivoire</option>
                            <option value="Croatia">Croatia</option>
                            <option value="Cuba">Cuba</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czech Republic">Czech Republic</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Djibouti">Djibouti</option>
                            <option value="Dominica">Dominica</option>
                            <option value="Dominican Republic">Dominican Republic</option>
                            <option value="East Timor (Timor-Leste)">East Timor (Timor-Leste)</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egypt">Egypt</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                            <option value="Eritrea">Eritrea</option>
                            <option value="Estonia">Estonia</option>
                            <option value="Eswatini">Eswatini</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Fiji">Fiji</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="Gabon">Gabon</option>
                            <option value="Gambia">Gambia</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Germany">Germany</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Greece">Greece</option>
                            <option value="Grenada">Grenada</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guinea">Guinea</option>
                            <option value="Guinea-Bissau">Guinea-Bissau</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Haiti">Haiti</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Iceland">Iceland</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Iran">Iran</option>
                            <option value="Iraq">Iraq</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japan">Japan</option>
                            <option value="Jordan">Jordan</option>
                            <option value="Kazakhstan">Kazakhstan</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Kiribati">Kiribati</option>
                            <option value="Korea, North">Korea, North</option>
                            <option value="Korea, South">Korea, South</option>
                            <option value="Kosovo">Kosovo</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                            <option value="Laos">Laos</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Lebanon">Lebanon</option>
                            <option value="Lesotho">Lesotho</option>
                            <option value="Liberia">Liberia</option>
                            <option value="Libya">Libya</option>
                            <option value="Liechtenstein">Liechtenstein</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malawi">Malawi</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Maldives">Maldives</option>
                            <option value="Mali">Mali</option>
                            <option value="Malta">Malta</option>
                            <option value="Mauritania">Mauritania</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Micronesia">Micronesia</option>
                            <option value="Moldova">Moldova</option>
                            <option value="Monaco">Monaco</option>
                            <option value="Mongolia">Mongolia</option>
                            <option value="Montenegro">Montenegro</option>
                            <option value="Myanmar (Burma)">Myanmar (Burma)</option>
                            <option value="Nauru">Nauru</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Niger">Niger</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Norway">Norway</option>
                            <option value="Oman">Oman</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="Palau">Palau</option>
                            <option value="Panama">Panama</option>
                            <option value="Papua New Guinea">Papua New Guinea</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Peru">Peru</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Poland">Poland</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Romania">Romania</option>
                            <option value="Rwanda">Rwanda</option>
                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                            <option value="Samoa">Samoa</option>
                            <option value="San Marino">San Marino</option>
                            <option value="Saudi Arabia">Saudi Arabia</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Slovakia">Slovakia</option>
                            <option value="South Africa">South Africa</option>
                            <option value="Spain">Spain</option>
                            <option value="Sri Lanka">Sri Lanka</option>
                            <option value="Sudan">Sudan</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Syria">Syria</option>
                            <option value="Taiwan">Taiwan</option>
                            <option value="Tajikistan">Tajikistan</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Tonga">Tonga</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Turkmenistan">Turkmenistan</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Emirates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States">United States</option>
                            <option value="Vanuatu">Vanuatu</option>
                            <option value="Vietnam">Vietnam</option>
                            <option value="Zambia">Zambia</option>
                            <option value="Zimbabwe">Zimbabwe</option>
                        </select>
                    </div>
                    
                    <div class="col-md-6 col-sm-12">
                        <input type="text" class="form-control mb-4" id="phoneNo" placeholder="Phone No" required>
                    </div>
                    
                    <div class="col-md-6 col-sm-12">
                        <input class="btn" type="submit" value="Submit" style="background-color:rgb(250, 250, 93); color:black;">
                    </div>
</div>
                </form></div>
                
                    </div>
        </div>
    </div>
{{!-- form end --}}

{{!-- frequently question end--}}
<section class="waf7 paddwat60">
   <div class="container">
    <div class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="default" style="padding-bottom: 40px;">
          <h3 class="h2">
           <strong>Frequently Asked Questions. </strong> 
          </h3>
          <br>
        </div>
    </div>
    <div class="row adjustbxflex wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
<div class="faq_content">
<div class="default">
    <h3 class="h4">
<img src="/images/question.svg" class="question" alt="question" width="23" height="23">
<strong>Are there any fees?</strong>
</h3>
<br>
<p class="prgh">Nope! It is free to join the affiliate program</p>
</div>    
</div>
<hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4">
        <img src="/images/question.svg" class="question" alt="question" width="23" height="23">
          <strong>How are referrals tracked?</strong>  
        </h3><br>
        <p class="prgh">When people click on your affiliate URL link, we will use cookies to track them for 90 days.
Once your contact sign-ups and completes the payment, they’ll be considered as your referrals.</a></p>
    </div>
</div>
<hr>
<div class="faq_content">
<div class="default">
    <h3 class="h4">
      <img src="/images/question.svg" class="question" alt="question" width="23" height="23">
       <strong>How do I get paid?</strong> 
    </h3><br>
    <p class="prgh">We use Tapfiliate to manage payouts. We will send you payouts quarterly, and then you can withdraw using Paypal or your bank account.</p>
</div>    
</div>
<hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4"><img src="/images/question.svg" class="question" alt="question" width="23" height="23">
        <strong>How to promote Wati?</strong>
        </h3><br>
       <p class="prgh">Blog posts, videos, tutorials, social media posts, or use any promotional channel.</a></p>
    </div>
   </div>
   <hr>
   <div class="faq_content">
    <div class="default">
        <h3 class="h4"><img src="/images/question.svg" class="question" alt="question" width="23" height="23">
        <strong>Can affiliates use Google or Facebook ads to acquire customers?</strong>
        </h3><br>
       <p class="prgh">No, affiliates are not allowed to use Google or Facebook ads to acquire customers. Violation of this policy may result in loss of commission.</a></p>
    </div>
   </div>
   <hr>
   <div class="faq_content">
    <div class="default">
        <h3 class="h4"><img src="/images/question.svg" class="question" alt="question" width="23" height="23">
        <strong>Do I get a commission on the usage?</strong>
        </h3><br>
       <p class="prgh">Our program offers a straightforward way to earn. You get paid at every step. When the people you refer start a trial or make a purchase, we keep track and reward you with commissions: You'll receive 20% commission on subscription revenue for the first two years.</a></p>
    </div>
   </div>
   <hr>
   </div>
   </div>
</section>
   {{!-- frequently question end --}}

{{!-- footer start --}}
{{>footer}}
{{!-- footer end --}}
<script src="/jq/jquery.min.js"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/owl.carousel.min.js"></script>
 <script>
   $(document).ready(function($){

    $('#slider .owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        autoplay:true,
        autoplayTimeout:1000,
        stagepadding:50,
        dots:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:6
            }
        }
    })

}); 

</script>
 <script>// Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()</script>
<script>
    const form = document.querySelector('.needs-validation');

form.addEventListener('submit', function(event) {
  event.preventDefault();

  if (form.checkValidity()) {
    alert('Thank you for registering! This is your first step to becoming a Wati affiliate. We will send you a confirmation email soon.');
  }
});
</script> 



</body>
</html>