<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
{{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}

{{!-- hero section start --}}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <h1><br><strong>Using the Wati logo? Here’s what you need to know!</strong></h1>
          <p>To ensure you’re using Wati logo correctly, we’ve got a few guidelines to make things super easy. Take a moment to check them out before getting started!</p>
        </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;">
      
        <img width="555" height="450" class="wow fadeInRight slideimg" src="/images/New-brnading-page-image.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
      </div>
            </div>
        </div>
      </div>
</div>
{{!-- hero section end    --}}

{{!-- accordian start --}}
 <section class="waf1 accordion-item">
    <div class="container space" style="background-color: rgb(249, 218, 255); border-radius:10px;" >
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
    <h1 style="text-align: center; padding-bottom:40px; padding-top:40px;"><strong>Ta-da! Presenting the Wati logo. We hope you love it as much as we do!</strong></h1>
        <div class="col-md-4 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" width="260" height="240" src="/images/wati-logo-1.svg">
            <br><h4 class="h4" style="color: #1d1d1d; padding-top:30px;">Logo in white background</h4> 
             </a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-md-4 col-sm-12">
        <div class="info-box" style="background-color: black;">
          <div class="default"><a href="#"><img width="260" height="240" src="/images/new-wati-white.png" alt="visibility">
       <h4 class="h4" style="color: #ffffff; padding-top:30px;">Logo in dark background</h4>
      <br></a></div>
      <br>
      <br></div>
    </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}



{{!-- accordian start --}}
 <section class="waf1 accordion-item">
    <div class="container space">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
    <h1 style="text-align: center; padding-top:40px; padding-bottom: 20px;"><strong>Do's and Dont's</strong></h1>
    
        <div class="col-md-4 col-sm-12" style="padding-bottom: 30px;">
          <div class="info-box1" style="padding: 30px;  border:2px solid black;">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" width="160" height="80" src="/images/wati-logo-1.svg">
      <br>      <br><img class="block" src="/images/tick.svg" alt="tick" width="37px" height="37px">
             </a></div>
          </div>
          <h4>Perfectly proportionate logo</h4>
        </div>

        <div class="col-md-4 col-sm-12" style="padding-bottom: 30px;">
          <div class="info-box1" style="background-color: black; padding:30px;  border:2px solid white;">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" width="160" height="80" src="/images/new-wati-white.png">
         <br>   <br><img class="block" src="/images/tick.svg" alt="tick" width="37px" height="37px">
             </a></div>
          </div>
          <h4>Logo in black background</h4>
        </div>

        <div class="col-md-4 col-sm-12" style="padding-bottom: 30px;">
          <div class="info-box1" style="background-color: rgb(251, 218, 218); padding:30px;  border:2px solid black;">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" width="160" height="80" src="/images/wati-logo-1.svg">
       <br>     <br><img class="block" src="/images/tick.svg" alt="tick" width="37px" height="37px">
             </a></div>
          </div>
          <h4>Logo in light background</h4>
        </div>

        <div class="col-md-4 col-sm-12" style="padding-bottom: 30px;">
          <div class="info-box1" style="padding:30px;  border:2px solid black;">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" width="160" height="80" src="/images/wati-logo-1.svg">
         <br>   <br><img class="block" src="/images/notick.svg" alt="tick" width="37px" height="37px">
             </a></div>
          </div>
          <h4>Do not alter the proportion</h4>
        </div>

        <div class="col-md-4 col-sm-12" style="padding-bottom: 30px;">
          <div class="info-box1" style="padding: 30px; border:2px solid black;" >
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" width="160" height="80" src="/images/Wati-logo-blue-shadow.svg">
         <br>   <br><img class="block" src="/images/notick.svg" alt="tick" width="37px" height="37px">
             </a></div>
          </div>
          <h4>Do not alter the colour or add any effect/shadows</h4>
        </div>

         <div class="col-md-4 col-sm-12" style="padding-bottom: 30px;">
          <div class="info-box1" style="padding: 30px;  border:2px solid black;">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" width="160" height="80" src="/images/wati-logo-1.svg">
    <br><br>    <img class="block" src="/images/notick.svg" alt="tick" width="37px" height="37px">
             </a></div>
          </div>
          <h4>Do not change text placement</h4>
        </div>
      
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}


<section class="branding-our-name">
    <div class="container">
        <div class="branding-our-name-info">
            <div class="default">
                <h1 class="shoutout ltpnk space_btm"><strong>Our Name</strong></h1>
            <p class="h4 space_btm">The correct spelling of our name is ‘Wati’ with a capital W and lowercase letters. It was previously spelled as ‘WATI’.</p>
            <h4 class="branding-difrent-text">'<span class="color">Wati</span>' stands for <span class="color"> W</span>hats<span class="color">A</span>pp <span class="color">T</span>eam <span class="color">I</span>nbox. </h4>
            </div>
        </div>
    </div>
</section>

<section class="branding-our-color paddwat60">
    <div class="container">
        <div class="branding-our-name-info  adjustbxflex">
            <h1 class="grnsht"><strong>Our Colours</strong></h1>
        </div>
        <div class="row branding-color-rowgap">
            <div class="col-md-3 col-sm-12">
                <div class="branding-color-inner green text-center paddwat60">
                    <h3 class="h4 default">Green</h3>
                    <p>#00e785</p>
                    <span>RGB 0, 231, 133</span>
                    </div>
            </div>

<div class="col-md-3 col-sm-12">
                <div class="branding-color-inner blue text-center paddwat60">
                    <h3 class="h4 default">Blue</h3>
                    <p>#67cbf6</p>
                    <span>RGB 103, 203, 246</span>
                    </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="branding-color-inner yellow text-center paddwat60">
                    <h3 class="h4 default">Yellow</h3>
                    <p>#ffe96e</p>
                    <span>RGB 255, 233, 110</span>
                    </div>
            </div>

 <div class="col-md-3 col-sm-12">
                <div class="branding-color-inner pink text-center paddwat60">
                    <h3 class="h4 default">Pink</h3>
                    <p>#f9b4ff</p>
                    <span>RGB 249, 180, 255</span>
                    </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="branding-color-inner darkgreen text-center paddwat60">
                    <h3 class="h4 default">Lighter</h3>
                    <p>#cafde8</p>
                    <span>RGB 0, 231, 133</span>
                    </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="branding-color-inner bl text-center paddwat60">
                    <h3 class="h4 default">Lighter</h3>
                    <p>#fcd9d9</p>
                    <span>RGB 252, 217, 217</span>
                    </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="branding-color-inner dark-bl text-center paddwat60">
                    <h3 class="h4 default">Black</h3>
                    <p>#1d1d1d</p>
                    <span>RGB 29, 29, 27</span>
                    </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="branding-color-inner white text-center paddwat60" style="border:1px dotted">
                    <h3 class="h4 default">White</h3>
                    <p>#ffffff</p>
                    <span>RGB 255, 255, 255</span>
                    </div>
            </div>
            </div>
    </div>
</section>


<section class="branding-font">
    <div class="container">
        <div class="branding-our-name-info">
            <h1 class="ltpnk"><strong>Our Fonts</strong></h1>
            </div>
           <div class="branding-font-main">
            <div class="font-row adjustbxflex center space_btm">
                <div class="font-col-first"><p class="branding-font-info h1" style="color:#00e785">Outfit</p></div>
                <div class="font-col"><p class="branding-font-info h2"><strong>Bold</strong></p></div>
                <div class="font-col"><p class="branding-font-info h3"><strong>Semi-Bold</strong></p></div>
                <div class="font-col"><p class="branding-font-info h3">Regular</p></div>
                <div class="font-col"><p class="branding-font-info h4">Light</p></div>
            </div>

            <p class="branding-font-link h3 default"><b>Download Link:</b>
            <a href="https://fonts.google.com/specimen/Outfit">https://fonts.google.com/specimen/Outfit</a>
            </p>
           </div>
            </div>
</section>


<section class="waf8 paddwat60">
    <div class="container">
      <div class="row adjustbxflex center">
        <div class="col-md-12 col-sm-12 sec">
          <h2 class="h2 int default"><strong>Wati Logo Usage Guidelines</strong><br><br></h2>
          <ul>
            <li class="prgh">Be truthful when referencing Wati, and don’t imply affiliation, sponsorship, or endorsement by Wati.</li>
            <li class="prgh">Only link to wati.io when making textual references to Wati.</li>
            <li class="prgh">Make sure the logo has some space to breathe and isn’t cluttered with other text or graphics.</li>
            <li class="prgh">Stick to our brand colours (mentioned above) when using the logo.</li>
            </ul>
            <h4><strong>Thanks for taking the time to follow these guidelines - we really appreciate it.</strong></h4>
                </div>
      </div>
    </div>
  </section>


  {{!-- footer end --}}
 {{>footer}}
{{!-- footer end --}}

<script src="/jq/jquery.min.js"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>

</body>
</html>