<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    </head>
<body>
    {{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}
<style>
    .prs{
    background: url("/images/bulkl.webp");
    height:460px;
    width:520px;
    position:relative;
    background-size: contain;
    margin:auto;
    background-repeat:no-repeat;
        }
   .prs img.slideimg{
    right:76px;
    position:absolute;
    bottom:80px;
    object-fit: contain;
    width: 190px;
  }
  .home-width{
    object-fit: contain;
    padding:15px;
    margin:auto;
  }     
    </style>
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">Broadcast & Bulk Messages</span>
        <h1><br><strong>Drive engagement</strong></h1>
          <p>Design and manage your campaigns to get better results.</p>
      <div class="btns">
         <a href="https://app.wati.io/register?language=en&ajs_aid=0bc36754-c1c5-44c1-97fd-b1f44f2b4e6c" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Free 7 Day Trial</a>
        <br><br>
        <a><img src="images/No-card-icon.svg" alt="credit">No credit card required</a>
      </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;">
      <div class="prs">
        <img width="200" height class="wow fadeInRight slideimg" src="/images/brodcast.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
      </div>
    </div>
        </div>
      </div>
    </div>
    </div>
   
{{!-- hero section end --}}
   

   


<section class="waf5 paddwat30">
  <div class="container" style="background-color:bisque;">
    <div class="text-center" style="background-color: #33ea94">
      <h3 class="h2" style="padding: 20px 0 20px 0;">
        <strong>More effective campaigning to customers and prospects</strong></h3>
  </div>
  
  <div class="row adjustbxflex center">
   <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2"><strong>Broadcast to multiple contacts</strong></h3>
      <h4 class="h4"><strong>Create and run campaigns direct to each contact through WhatsApp.</strong></h4>
      <div class="circledot"><span>Email marketing management functionality for WhatsApp.</span>
      <span>Automated message management for efficient campaigning.</span></div>
    </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 imgcentr"><img class="img-width nopdd" src="/images/Broadcast-Bulk-Messages-–-1.webp" alt="Wati Home" width="400" height="320"></div> 
  </div>
    
<div class="row adjustbxflex center">
  <div class="col-lg-6 col-md-6 col-sm-12 order2 imgcentr"style="padding-left:100px;">
    <img class="img-width nopdd" src="/images/Broadcast-Bulk-Messages-–-2.webp" alt="Wati Home" width="400" height="320">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2 intylw">
        <strong>Write messages in compliance with WhatsApp</strong>
      </h3>
      <h4 class="h4"><strong>Follows the WhatsApp process for creating pre-approved messages.</strong></h4> 
    <div class="circledot">
     <span>Template your messages for consistent brand communications.</span> 
    <span>Personalize template messages for each contact.</span>
    </div>
    </div>
  </div>
  </div>
  <div class="row adjustbxflex center">
   <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2"><strong>Build your business in fast growth economies</strong></h3>
      <h4 class="h4"><strong>Support for hundreds of languages and dialects lets you connect with more customers.</strong></h4>
      <div class="circledot"><span>Connect with more customers and prospects all around the world.</span>
      <span>Sell more and provide better support in fast developing markets.</span></div>
    </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 imgcentr"><img class="img-width nopdd" src="/images/Broadcast-Bulk-Messages-–-3.webp" alt="Wati Home" width="400" height="320"></div> 
  </div>
  </div>
</section>

{{!-- accordian start --}}
 <section class="waf1 accordion-item">
    <div class="container space">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
        <div class="col-md-4 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" src="/images/megaphone-outline-3.svg">
            <br><h4 class="h4" style="color: #1d1d1d;">Compaign Management</h4> 
             <br> <span>Simplify sales and marketing communications.</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-md-4 col-sm-12">
        <div class="info-box">
          <div class="default"><a href="#"><img src="/images/event-schedule.svg" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">Schedule Messages</h4>
      <br><span>Plan and broadcast campaigns according to your schedule.</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/handshake-o-1.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Stronger Connections</h4>
      <br>  <span>Talk to your contacts in their first language, whatever it is.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}
 {{>block}}

 {{>discover}}


{{!-- footer start --}}
{{>footer}}
{{!-- footer end --}}


<script src="/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>