<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
{{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}

{{!-- hero section start --}}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">WhatsApp Business Extension for Zoho CRM by Wati</span>
        <h1><br><strong>Great CRM is at the center of great marketing</strong></h1>
          <p>Engage with leads more efficiently using the Zoho CRM-WhatsApp Integration.</p>
      <div class="btns">
         <a href="https://marketplace.zoho.com/app/crm/whatsapp-business-extension-for-zoho-crm" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Get it on the Zoho Marketplace</a>
        <br><br>
        </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;">
      
        <img width="555" height="450" class="wow fadeInRight slideimg" src="/images/zohoo.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
      </div>
    </div>
        </div>
      </div>
    </div>
 {{!-- hero section end    --}}

{{!-- accordian start --}}
 <section class="waf1 accordion-item">
    <div class="container space" style="background-color: rgb(249, 218, 255);">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
    <h1 style="text-align: center; padding-bottom:20px; padding-top:20px;"><strong>Hold two-way conversations on WhatsApp directly from Zoho CRM</strong></h1>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" src="/images/lead.svg">
            <br><h4 class="h4" style="color: #1d1d1d;">Send Messages from Zoho</h4> 
             <br> <span>Use the ‘Send WhatsApp’ button on Zoho contact pages to directly message contacts.</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="info-box">
          <div class="default"><a href="#"><img src="/images/resolution.svg" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">Workflow Integration</h4>
      <br><span>Integrate WhatsApp messaging with Zoho Workflows to automate messages.</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/addmision.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">No-Code Integration</h4>
      <br>  <span>Use Wati's no-code WhatsApp chatbot builder to integrate seamlessly.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/onboarding.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Shared Team Inbox</h4>
      <br>  <span>Allow multiple users to handle customer inquiries, use quick replies and do more.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/reminders.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Smarter Decisions</h4>
      <br><span>Reporting through the Wati dashboard delivers performance analytics to support data-driven decision making.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/streports.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">WhatsApp Verified badge</h4>
      <br><span>Work with Wati to apply for the official WhatsApp’s verified green badge.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}

{{!-- rating start --}}
<section class="rating paddwat30">
    <div class="container space">
    <div class="row  text-center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
         <img width="300" height="60" src="/images/rating.svg" class="watirating" alt="wati rating">
    <h3 style="padding-top: 40px;"><strong>Rated 4.8 stars based on 170+ reviews </strong></h3>
    </div>
    </div></section>
    {{!-- rating end --}}

    {{!-- vedio start --}}
<section class="paddwat60" style="padding:50px 0px 50px 90px;">
<div class="container">
    <div class="row  adjustbxflex center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
       <div class="col-md-6 col-sm-6">
        <a href="https://www.youtube.com/watch?v=ah7FKw3xmIg&ab_channel=Wati" data-lity>
        <img class="img-width" src="/images/int-zoho.webp" alt="Zoho" width="555px" height="289px"></a>
        </div> 
<div class="col-md-6 col-sm-6 wow fadeIn cent" style="visibility: visible; animation-name: fadeIn;">
    <div style="padding: 100px 0 100px 0;"><h2><strong>See Wati Zoho integration <br> in action</strong></h2>
    <p class="prgh">Learn all about Wati's Zoho CRM-WhatsApp integration</p>
    </div>
</div>
</div>
</div></section>
    {{!-- vedio end --}}

    {{>slider}}

<section class="waf7 paddwat60">
   <div class="container">
    <div class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="default" style="padding-bottom: 40px;">
          <h3 class="h2">
           <strong>Frequently Asked Questions. </strong> 
          </h3>
          <br>
          <p class="prgh">Popular questions about Zoho CRM-WhatsApp integration by Wati.</p>  
        </div>
    </div>
    <div class="row adjustbxflex wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
<div class="faq_content">
<div class="default">
    <h3 class="h4">
<img src="/images/question.svg" class="question" alt="question" width="23" height="23">
<strong>Can I send WhatsApp messages directly from Zoho CRM using Wati?</strong>
</h3>
<br>
<p class="prgh ">Yes, you can use the ‘Send WhatsApp’ button on Zoho contact pages to directly message contacts.</p>
</div>    
</div>
<hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4">
        <img src="/images/question.svg" class="question" alt="question" width="23" height="23">
          <strong>How does Wati’s chatbot builder work with Zoho CRM integration?</strong>  
        </h3><br>
        <p class="prgh">With Wati’s no-code WhatsApp chatbot builder, you can integrate seamlessly with Zoho CRM to automate messages and workflows.</p>
    </div>
</div>
<hr>
<div class="faq_content">
<div class="default">
    <h3 class="h4">
      <img src="/images/question.svg" class="question" alt="question" width="23" height="23">
       <strong>Can multiple users handle customer inquiries and use quick replies with Wati’s Zoho CRM integration?</strong> 
    </h3><br>
    <p class="prgh">Yes, Wati's Zoho CRM integration allows for a shared team inbox where multiple users can handle customer inquiries, use quick replies, and do more.</p>
</div>    
</div>
<hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4"><img src="/images/question.svg" class="question" alt="question" width="23" height="23">
        <strong>How can I track the performance of my Zoho CRM-WhatsApp integration?</strong>
        </h3><br>
       <p class="prgh">Reporting through the Wati dashboard delivers performance analytics to support data-driven decision-making for smarter decisions.</p>
    </div>
   </div> 
   </div>
   </div>
   </section>

{{>discover}}

 {{>footer}}
{{!-- footer end --}}
<script src="/jq/jquery.min.js"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/owl.carousel.min.js"></script>
 <script>
   $(document).ready(function($){

    $('#slider .owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        autoplay:true,
        autoplayTimeout:1000,
        stagepadding:50,
        dots:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:6
            }
        }
    })

}); 

</script>

</body>
</html>