<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
{{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}

{{!-- hero section start --}}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">WhatsApp Message Sender for Google Sheets by Wati</span>
        <h1><br><strong>Automate WhatsApp campaigns from Google Sheets</strong></h1>
          <p>Send bulk WhatsApp messages by broadcasting from Google Sheets.</p>
      <div class="btns">
         <a href="https://workspace.google.com/" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Find it on G Suite Marketplace</a>
        <br><br>
        </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;">
      
        <img width="555" height="450" class="wow fadeInRight slideimg" src="/images/googlesheets.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
      </div>
    </div>
        </div>
      </div>
    </div>
 {{!-- hero section end    --}}

{{!-- slider start --}}

 {{> slider}}

{{!-- slider end --}}


{{!-- accordian start --}}
 <section class="waf1 accordion-item">
    <div class="container space" style="background-color: rgb(249, 218, 255);">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
    <h1 style="text-align: center; padding-bottom:40px; padding-top:40px;"><strong>Simplify contact engagement using WhatsApp and Google Sheets</strong></h1>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" width="26" height="26" src="/images/workflw.svg">
            <br><h4 class="h4" style="color: #1d1d1d;">Easy Setup & No Extra Fee</h4> 
             <br> <span>Simple setup of Google Sheets in your Google account with no additional fees.</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="info-box">
          <div class="default"><a href="#"><img width="26" height="26" src="/images/bigger-zapier.webp" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">Personalize in all Languages</h4>
      <br><span>Send dynamic messages by personalizing fields in all supported languages.</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" width="26" height="26" src="/images/nocode.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Shared Team Inbox</h4>
      <br>  <span>Allow multiple agents to handle customer inquiries, use quick replies and do more.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img width="26" height="26" alt="visibility" src="/images/add-box-multiple-zapier.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">Broadcast Notifications</h4>
      <br>  <span>Send bulk messages on WhatsApp using our broadcast manager.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img width="26" height="26" alt="visibility" src="/images/platform-managementlog-audit-zapier.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">No-Code Integration</h4>
      <br><span>Use Wati’s WhatsApp chatbot builder to integrate a WhatsApp chatbot seamlessly.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img width="26" height="26" alt="visibility" src="/images/bxs-customize-zapier.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">WhatsApp Verified badge</h4>
      <br><span>Work with Wati to apply for the official WhatsApp’s verified green badge.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}

{{!-- rating start --}}
<section class="rating paddwat30">
    <div class="container space">
    <div class="row  text-center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
         <img width="300" height="60" src="/images/rating.svg" class="watirating" alt="wati rating">
    <h3 style="padding-top: 40px;"><strong>Rated 4.8 stars based on 170+ reviews </strong></h3>
    </div>
    </div></section>
    {{!-- rating end --}}

    {{!-- vedio start --}}
<section class="paddwat60" style="padding:50px 0px 50px 90px;">
<div class="container space">
    <div class="row  adjustbxflex center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
       <div class="col-md-6 col-sm-6">
        <a href="https://www.youtube.com/watch?v=ZyzIlqr2Ddc&ab_channel=Wati" data-lity>
        <img class="img-width" src="/images/Gshhet2.webp" alt="Zoho" width="555px" height="289px"></a>
        </div> 
<div class="col-md-6 col-sm-6 wow fadeIn cent" style="visibility: visible; animation-name: fadeIn;">
    <div style="padding: 100px 0 100px 0;"><h2><strong>See Wati Google Sheets Message Sender in action</strong></h2>
    <p class="prgh">Learn more about Wati’s Google Sheets Message Sender integration</p>
    </div>
</div>
</div>
</div></section>
    {{!-- vedio end --}}

<section class="paddwat60 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
  <div class="container space">
    <div class="row  adjustbxflex center">
        <div class="col-md-6 col-sm-12 col-12 image-text">
            <div class="default">
                <h2 class="h2 text-bold">
                    <strong>Wati Google Sheets Message Sender for WhatsApp step-by-step</strong>
                    </h2>
                    <p class="prgh">Learn how Google Sheets Message Sender works with Wati to make communications easier.</p>
                    <div class="btns">
         <a href="https://support.wati.io/" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">View Tutorial</a>
        <br><br>
        </div>
                    </div>
    </div>
    <div class="col-md-6 col-sm-6">
       <div class="wp-image">
        <img src="/images/about-google-sheets-bottom-image.webp" alt="WhatsApp" width="440px" height="348px"></div> 
    </div>
  </div>  
  </div>
</section>


<section class="waf7 paddwat60">
   <div class="container">
    <div class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="default" style="padding-bottom: 40px;">
          <h3 class="h2">
           <strong>Frequently Asked Questions. </strong> 
          </h3>
          <br>
        </div>
    </div>
    <div class="row adjustbxflex wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
<div class="faq_content">
<div class="default">
    <h3 class="h4">
<img src="/images/question.svg" class="question" alt="question" width="23" height="23">
<strong>What is the Wati-Google Sheets Integration?</strong>
</h3>
<br>
<p class="prgh ">The Wati-Google Sheets Integration allows businesses to connect their WhatsApp Business API with Google Sheets, enabling the automation of data management and communication processes.</p>
</div>    
</div>
<hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4">
        <img src="/images/question.svg" class="question" alt="question" width="23" height="23">
          <strong>What types of tasks can be automated with the Wati-Google Sheets Integration?</strong>  
        </h3><br>
        <p class="prgh">Automate tasks like updating contact information, managing orders, tracking inventory, and more, enhancing overall efficiency and data organization.</p>
    </div>
</div>
<hr>
<div class="faq_content">
<div class="default">
    <h3 class="h4">
      <img src="/images/question.svg" class="question" alt="question" width="23" height="23">
       <strong>How do I set up the Wati-Google Sheets Integration?</strong> 
    </h3><br>
    <p class="prgh">Sign up for a Wati.io account, connect your WhatsApp Business API number, and follow the provided instructions to link your Google Sheets and create custom workflows.</p>
</div>    
</div>
<hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4"><img src="/images/question.svg" class="question" alt="question" width="23" height="23">
        <strong>What are the benefits of using the Wati-Google Sheets Integration?</strong>
        </h3><br>
       <p class="prgh">It enables seamless data management, real-time updates, improved customer communication, and reduced manual work, ultimately saving time and resources for your business.</p>
    </div>
   </div>
   <hr>
   </div>
   </div>
   </section>

{{>discover}}

 {{>footer}}
{{!-- footer end --}}
<script src="/jq/jquery.min.js"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/owl.carousel.min.js"></script>
 <script>
   $(document).ready(function($){

    $('#slider .owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        autoplay:true,
        autoplayTimeout:1000,
        stagepadding:50,
        dots:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:6
            }
        }
    })

}); 

</script>

</body>
</html>