<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
{{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}

{{!-- hero section start --}}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">Wati for Healthcare</span>
        <h1><br><strong>Connect and engage your patients using WhatsApp</strong></h1>
          <p>More secure healthcare communications that
guarantee better privacy</p>
      <div class="btns">
         <a href="https://app.wati.io/register?language=en&ajs_aid=0bc36754-c1c5-44c1-97fd-b1f44f2b4e6c" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Free 7 Day Trial</a>
        <br><br>
        <a><img src="images/No-card-icon.svg" alt="credit">No credit card required</a>
      </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;">
      
        <img width="555" height="450" class="wow fadeInRight slideimg" src="/images/healthh.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
      </div>
    </div>
        </div>
      </div>
    </div>
 {{!-- hero section end    --}}

{{!-- slider start --}}
 <section class="waf2 paddwat30" style="visibility:visible;">
    <div class="container my-4">
      <h3 style="text-align:center;">
        <strong>Supporting <span class="color">Healthcare Institutions</span>
        in Developing Economies as They Grow</strong></h3>
        <br>
        <br>
        <div id="slider">
             <div class="owl-carousel owl-theme">
            <div class="item">
              <img src="images/medExpress.svg" class="d-block w-100" alt="Yip" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/natural_clinic.svg" class="d-block w-100" alt="mivi" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/Nivaan.svg" class="d-block w-100" alt="Zoomcar" width="150" height="50">
            </div>
           
            <div class="item">
              <img src="images/Padma_Bahtera_Medical_Centre.svg" class="d-block w-100" alt="Adventurrush" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/UMP_Medical_Centre.svg" class="d-block w-100" alt="Emami" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/Vein_Center.svg" class="d-block w-100" alt="killer" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/Altibbi.svg" class="d-block w-100" alt="ITC" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/C-MER_Medical.svg" class="d-block w-100" alt="ITC" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/CUHK_Medical_Centre.svg" class="d-block w-100" alt="ITC" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/EC_Healthcare.svg" class="d-block w-100" alt="ITC" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/M_O_C_Cancer_Care_Research_Centre.svg" class="d-block w-100" alt="ITC" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/mana_DR.svg" class="d-block w-100" alt="ITC" width="150" height="50">
            </div> 
          </div>
        </div>   
        </div>
  </section>
 {{!-- slider end   --}}

<section class="waf5 paddwat30">
  <div class="container" style="background-color:bisque;">
    <div class="text-center" style="background-color: #33ea94">
      <h3 class="h2" style="padding: 20px 0 20px 0;">
        <strong>Efficient and personalized healthcare communications using WhatsApp</strong></h3>
  </div>
  
  <div class="row adjustbxflex center">
   <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2"><strong>Secure and Compliant</strong></h3>
      <h4 class="h4"><strong>End-to-end encryption for secure patient information exchange.</strong></h4>
      <div class="circledot"><span>WhatsApp is HIPAA compliant, making it suitable for healthcare providers who need to comply with privacy regulations.</span>
      <span>Healthcare providers can use WhatsApp to securely share patient data with colleagues for consultation and collaboration.</span></div>
    </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 imgcentr"><img class="img-width nopdd" src="/images/healthcare-about-1.webp" alt="Wati Home" width="400" height="320"></div> 
  </div>
    
<div class="row adjustbxflex center">
  <div class="col-lg-6 col-md-6 col-sm-12 order2 imgcentr"style="padding-left:100px;">
    <img class="img-width nopdd" src="/images/healthcare-about-2.webp" alt="Wati Home" width="400" height="320">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2 intylw">
        <strong>Increase Efficiency</strong>
      </h3>
      <h4 class="h4"><strong>More efficient communication reduces wait times and improves care..</strong></h4> 
    <div class="circledot">
     <span>Integrating WhatsApp with other healthcare tools can improve communication and efficiency.</span> 
    <span>WhatsApp allows healthcare providers to easily send appointment reminders, lab results, and updates to patients, reducing the need for long phone calls and paperwork.</span>
    </div>
    </div>
  </div>
  </div>
  <div class="row adjustbxflex center">
   <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2"><strong>Enhanced Patient Engagement</strong></h3>
      <h4 class="h4"><strong>Personalized messaging and education improves engagement and adherence.</strong></h4>
      <div class="circledot"><span>Multimedia content can improve patient outcomes by simplifying complex medical concepts for healthcare providers.</span>
      <span>WhatsApp allows healthcare providers to offer remote consultations and telemedicine services, improving access to care for patients unable to attend in person.</span></div>
    </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 imgcentr"><img class="img-width nopdd" src="/images/healthcare-about-3.webp" alt="Wati Home" width="400" height="320"></div> 
  </div>
  </div>
</section>

{{!-- accodian start --}}
<section class="waf1 accordion-item">
    <div class="container space">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" src="/images/lead.svg">
            <br><h4 class="h4" style="color: #1d1d1d;">Appointment Automation</h4> 
             <br> <span>Automate with Wati’s drag-and-drop chatbot builder to provide self-service convenience that lets customers book via WhatsApp.</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="info-box">
          <div class="default"><a href="#"><img src="/images/resolution.svg" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">Appointment Reminders</h4>
      <br><span>Use Wati to avoid missed appointments by sending timely automated WhatsApp reminders to your customers, service users or patients.</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/addmision.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Confirmation & Support</h4>
      <br>  <span>Send your customers, service users or patients automated reminders to collect samples and reports from your clinic or hospital.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/onboarding.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Consultation Follow Up</h4>
      <br>  <span>Use Wati to provide healthcare with a more personal touch by sending post-consultation follow up WhatsApp messages to check in on your patients.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/reminders.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Automated Support</h4>
      <br><span>Creating a Wati chatbot for WhatsApp allows you to support your service users or patients 24/7, even when live support is not available.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/streports.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Privacy Guaranteed</h4>
      <br><span>Provide more confidence in your services by using WhatsApp’s secure messaging technology to protect your healthcare communications.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}

<section class="waf6 paddwat30" style="background-color: pink">
    <div class="container">
      <div class="wow fadeIn" style="visibility:visible; animation-name: fadeIn;">
        <h2 style="text-align: center;"><strong>Over 8,000 customers</strong></h2>
        <p class="prgh text-center default">What some of our 8,000+ customers across 100+ countries think of Wati.</p>
      </div>
      <div class="row center">
        <ul class="adjust center">
          <li class="adjust wow fadeIn" style="visibility:visible; animation-name:fadeIn;">
            <div class="def"><h4 class="h4">"Amazing CRM to manage WhatsApp business"</h4>
            <p class="prghsp">Simple. easy to manage, and no technical code is required. Amazing customer support. They have the very best support and tutorials that make all your doubts clear in a few minutes.<br></p>
            <span><b>Arth T</b><br>Owner, Farming</span>
        </div>
          </li>
        

          
          <li class="adjust wow fadeIn" style="visibility:visible; animation-name:fadeIn;">
            <div class="def"><h4 class="h4">"Very useful for Marketing"</h4>
              <p class="prghsp"> It’s the most complete Whatsapp tool I’ve ever tried. Today it’s necessary because mail deliverability and the open rate is dropping every month.</p> 
              <span><b>Cristian</b>
              <br>CEO at Cristian Moletto</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

 {{>discover}}


   {{!-- footer start --}}
{{>footer}}
{{!-- footer end --}}

<script src="/jq/jquery.min.js"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
 <script src="/js/owl.carousel.min.js"></script>
 <script>
   $(document).ready(function($){

    $('#slider .owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        autoplay:true,
        autoplayTimeout:1000,
        stagepadding:50,
        dots:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:6
            }
        }
    })

}); 

</script>
</body>
</html>