<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
{{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}

{{!-- hero section start --}}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">WhatsApp Business Integration with HubSpot by Wati</span>
        <h1><br><strong>Optimize your sales and marketing efforts</strong></h1>
          <p>Enhance your customer engagement by connecting your Wati account with HubSpot.</p>
      <div class="btns">
         <a href="https://app.hubspot.com/login/" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Get it on HubSpot Marketplace</a>
        <br><br>
        </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;">
      
        <img width="555" height="450" class="wow fadeInRight slideimg" src="/images/hunspott.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
      </div>
    </div>
        </div>
      </div>
    </div>
 {{!-- hero section end    --}}

{{!-- slider start --}}

 {{> slider}}

{{!-- slider end --}}


{{!-- accordian start --}}
 <section class="waf1 accordion-item">
    <div class="container space" style="background-color: rgb(249, 218, 255);">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
    <h1 style="text-align: center; padding-bottom:40px; padding-top:40px;"><strong>Efficiently integrate Wati with HubSpot to boost your customer interactions</strong></h1>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" width="26" height="26" src="/images/workflw.svg">
            <br><h4 class="h4" style="color: #1d1d1d;">Unified Campaign Management</h4> 
             <br> <span>Integrate Wati into your HubSpot workflows and manage your WhatsApp Business campaigns seamlessly.</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="info-box">
          <div class="default"><a href="#"><img width="26" height="26" src="/images/bigger-zapier.webp" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">Event-Based Messaging</h4>
      <br><span>Initiate WhatsApp messages within HubSpot workflows based on specific triggers and events.</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" width="26" height="26" src="/images/nocode.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">No-Code Setup</h4>
      <br>  <span>Quickly and easily integrate Wati with Zapier without any coding knowledge.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img width="26" height="26" alt="visibility" src="/images/add-box-multiple-zapier.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">Streamlined Communications</h4>
      <br>  <span>Enhance your customer communication by incorporating WhatsApp Business campaigns into your HubSpot workflows.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img width="26" height="26" alt="visibility" src="/images/platform-managementlog-audit-zapier.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">Data-Driven Strategies</h4>
      <br><span>Leverage data from your integrated apps to craft informed customer engagement campaigns.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img width="26" height="26" alt="visibility" src="/images/bxs-customize-zapier.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">Customizable Workflows</h4>
      <br><span>Create personalized automation workflows to match your specific business demands.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}

{{!-- rating start --}}
<section class="rating paddwat30">
    <div class="container space">
    <div class="row  text-center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
         <img width="300" height="60" src="/images/rating.svg" class="watirating" alt="wati rating">
    <h3 style="padding-top: 40px;"><strong>Rated 4.8 stars based on 170+ reviews </strong></h3>
    </div>
    </div></section>
    {{!-- rating end --}}

    {{!-- vedio start --}}
<section class="paddwat60" style="padding:50px 0px 50px 90px;">
<div class="container">
    <div class="row  adjustbxflex center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
       <div class="col-md-6 col-sm-6">
        <a href="https://www.youtube.com/watch?v=YX-Pa0HzohY&ab_channel=Wati" data-lity>
        <img class="img-width" src="/images/HUbpst.webp" alt="Zoho" width="555px" height="289px"></a>
        </div> 
<div class="col-md-6 col-sm-6 wow fadeIn cent" style="visibility: visible; animation-name: fadeIn;">
    <div style="padding: 100px 0 100px 0;"><h2><strong>Experience Wati HubSpot Workflow Integration in Action</strong></h2>
    <p class="prgh">Discover the benefits of running WhatsApp Business campaigns from HubSpot workflows with Wati integration</p>
    </div>
</div>
</div>
</div></section>
    {{!-- vedio end --}}


<section class="waf7 paddwat60">
   <div class="container">
    <div class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="default" style="padding-bottom: 40px;">
          <h3 class="h2">
           <strong>Frequently Asked Questions. </strong> 
          </h3>
          <br>
        </div>
    </div>
    <div class="row adjustbxflex wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
<div class="faq_content">
<div class="default">
    <h3 class="h4">
<img src="/images/question.svg" class="question" alt="question" width="23" height="23">
<strong>Do I need coding knowledge to integrate Wati with HubSpot workflows</strong>
</h3>
<br>
<p class="prgh ">No, Wati and HubSpot workflow integration is user-friendly and does not require any coding knowledge. You can effortlessly create and manage WhatsApp Business campaigns within your HubSpot workflows using the intuitive interface provided by HubSpot.</p>
</div>    
</div>
<hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4">
        <img src="/images/question.svg" class="question" alt="question" width="23" height="23">
          <strong>What types of campaigns can I run with Wati and HubSpot workflow integration?</strong>  
        </h3><br>
        <p class="prgh">With Wati and HubSpot workflow integration, you can run a wide range of WhatsApp Business campaigns, such as promotional messages, event reminders, follow-ups, and personalized customer interactions. This allows you to enhance customer engagement and drive business growth.</p>
    </div>
</div>
<hr>
<div class="faq_content">
<div class="default">
    <h3 class="h4">
      <img src="/images/question.svg" class="question" alt="question" width="23" height="23">
       <strong>Can I customize the WhatsApp Business campaigns within HubSpot workflows?</strong> 
    </h3><br>
    <p class="prgh">Yes, HubSpot workflows allow you to create custom automation workflows, including tailored WhatsApp Business campaigns, to meet your specific business requirements. Configure triggers and actions to automate tasks and improve the effectiveness of your customer engagement strategies.</p>
</div>    
</div>
<hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4"><img src="/images/question.svg" class="question" alt="question" width="23" height="23">
        <strong>Is Wati and HubSpot workflow integration secure?</strong>
        </h3><br>
       <p class="prgh">Yes, both Wati and HubSpot prioritize data security and ensure that your information is protected. They use encryption and security protocols and follow industry best practices to safeguard your data while it is being transferred and stored.</p>
    </div>
   </div>
   <hr>
   </div>
   </div>
   </section>

{{>discover}}

 {{>footer}}
{{!-- footer end --}}
<script src="/jq/jquery.min.js"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/owl.carousel.min.js"></script>
 <script>
   $(document).ready(function($){

    $('#slider .owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        autoplay:true,
        autoplayTimeout:1000,
        stagepadding:50,
        dots:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:6
            }
        }
    })

}); 

</script>

</body>
</html>