<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
{{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}

{{!-- hero section start --}}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">Automate WhatsApp Communication with Make.com and Wati</span>
        <h1><br><strong>Automate repetitive manual WhatsApp message</strong></h1>
          <p>Save time by automating communication tasks with Make.com integration.</p>
      <div class="btns">
         <a href="https://www.make.com/en/register" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Register for Free at Make.com</a>
        <br><br>
        </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;">
      
        <img width="555" height="450" class="wow fadeInRight slideimg" src="/images/makeakka.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
      </div>
    </div>
        </div>
      </div>
    </div>
 {{!-- hero section end    --}}

{{!-- slider start --}}

 {{> slider}}

{{!-- slider end --}}


{{!-- accordian start --}}
 <section class="waf1 accordion-item">
    <div class="container space" style="background-color: rgb(249, 218, 255);">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
    <h1 style="text-align: center; padding-bottom:40px; padding-top:40px;"><strong>Create custom automated workflows for messaging on WhatsApp</strong></h1>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" width="26" height="26" src="/images/workflw.svg">
            <br><h4 class="h4" style="color: #1d1d1d;">Message from Google Sheets</h4> 
             <br> <span>Automate sending of messages when a new row is added to a Google Sheet.</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="info-box">
          <div class="default"><a href="#"><img width="26" height="26" src="/images/bigger-zapier.webp" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">Customizable Automation</h4>
      <br><span>Build custom automation flows to automate repetitive tasks and workflows within Make.</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" width="26" height="26" src="/images/nocode.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Team Collaboration</h4>
      <br>  <span>Collaborate with your team on Make, assign tasks, and automate workflows for WhatsApp messages.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img width="26" height="26" alt="visibility" src="/images/add-box-multiple-zapier.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">WhatsApp Notifications</h4>
      <br>  <span>Send and receive WhatsApp notifications for your business with Make.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img width="26" height="26" alt="visibility" src="/images/platform-managementlog-audit-zapier.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">Two-Way Messaging</h4>
      <br><span>Enable two-way messaging between your business and customers on WhatsApp through Make.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img width="26" height="26" alt="visibility" src="/images/bxs-customize-zapier.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">Powerful Integrations</h4>
      <br><span>Integrate WhatsApp with over 500 apps on Make, such as CRM, payment gateway, and e-commerce platforms.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}
<section class="paddwat60 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
  <div class="container">
    <div class="row  adjustbxflex center">
        <div class="col-md-6 col-sm-6 col-12 image-text">
            <div class="default">
                <h2 class="h2 text-bold">
                    <strong>Wati Make.com tutorial</strong>
                    </h2>
                    <p class="prgh">See how Make.com works with Wati to automate WhatsApp messaging.</p>
                    <div class="btns">
         <a href="https://youtu.be/6wj-SmQ_R8I" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">View Tutorial</a>
        <br><br>
        </div>
                    </div>
    </div>
    <div class="col-md-6 col-sm-6">
       <div class="wp-image">
        <img src="/images/about-Make-bottom-image.webp" alt="WhatsApp" width="440px" height="348px"></div> 
    </div>
  </div>  
  </div>
</section>


{{!-- rating start --}}
<section class="rating paddwat30">
    <div class="container space">
    <div class="row  text-center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
         <img width="300" height="60" src="/images/rating.svg" class="watirating" alt="wati rating">
    <h3 style="padding-top: 40px;"><strong>Rated 4.8 stars based on 170+ reviews </strong></h3>
    </div>
    </div></section>
    {{!-- rating end --}}

    {{!-- vedio start --}}
<section class="paddwat60" style="padding:50px 0px 50px 90px;">
<div class="container">
    <div class="row  adjustbxflex center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
       <div class="col-md-6 col-sm-6">
        <a href="https://www.wati.io/automate-whatsapp-message/" data-lity>
        <img class="img-width" src="/images/93-Send-WhatsApp-message-using-google-sheets%E2%80%931.webp" alt="Zoho" width="555px" height="289px"></a>
        </div> 
<div class="col-md-6 col-sm-6 wow fadeIn cent" style="visibility: visible; animation-name: fadeIn;">
    <div style="padding: 100px 0 100px 0;"><h2><strong>See WATI Make.com integration in action</strong></h2>
    <p class="prgh">Learn more about WATI’s Make.com automation integration</p>
    </div>
</div>
</div>
</div></section>
    {{!-- vedio end --}}


<section class="waf7 paddwat60">
   <div class="container">
    <div class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="default" style="padding-bottom: 40px;">
          <h3 class="h2">
           <strong>Frequently Asked Questions. </strong> 
          </h3>
          <br>
        </div>
    </div>
    <div class="row adjustbxflex wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
<div class="faq_content">
<div class="default">
    <h3 class="h4">
<img src="/images/question.svg" class="question" alt="question" width="23" height="23">
<strong>What is the Wati-Make Integration?</strong>
</h3>
<br>
<p class="prgh">The Wati-Make Integration is an automation tool for connecting the WhatsApp Business API with various applications, streamlining communication and processes.</p>
</div>    
</div>
<hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4">
        <img src="/images/question.svg" class="question" alt="question" width="23" height="23">
          <strong>What types of tasks can be automated with the Wati-Make Integration?</strong>  
        </h3><br>
        <p class="prgh">Automate tasks such as sending notifications, managing orders, updating CRM records, and more, improving overall efficiency.</p>
    </div>
</div>
<hr>
<div class="faq_content">
<div class="default">
    <h3 class="h4">
      <img src="/images/question.svg" class="question" alt="question" width="23" height="23">
       <strong>Can I integrate the Wati-Make Integration with popular CRMs and other applications?</strong> 
    </h3><br>
    <p class="prgh">Yes, it supports integration with popular CRMs, e-commerce platforms, and other applications for seamless automation.</p>
</div>    
</div>
<hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4"><img src="/images/question.svg" class="question" alt="question" width="23" height="23">
        <strong>What are the benefits of using the Wati-Make Integration?</strong>
        </h3><br>
       <p class="prgh">It enables efficient automation, seamless integration, improved customer communication, and reduced manual work, saving time and resources.</p>
    </div>
   </div>
   <hr>
   </div>
   </div>
   </section>

{{>discover}}

 {{>footer}}
{{!-- footer end --}}
<script src="/jq/jquery.min.js"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/owl.carousel.min.js"></script>
 <script>
   $(document).ready(function($){

    $('#slider .owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        autoplay:true,
        autoplayTimeout:1000,
        stagepadding:50,
        dots:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:6
            }
        }
    })

}); 

</script>

</body>
</html>