<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
{{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}

{{!-- hero section start --}}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">WhatsApp Integration with Klaviyo by Wati</span>
        <h1><br><strong>Supercharge your sales and marketing efforts</strong></h1>
          <p>Power smarter digital relationships with your customers by connecting your Wati account with Klaviyo.</p>
      <div class="btns">
         <a href="https://www.klaviyo.com/" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Get it on Klaviyo</a>
        <br><br>
        </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;">
      
        <img width="555" height="450" class="wow fadeInRight slideimg" src="/images/Klaviyo-banner.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
      </div>
    </div>
        </div>
      </div>
    </div>
 {{!-- hero section end    --}}

{{!-- slider start --}}

 {{> slider}}

{{!-- slider end --}}


{{!-- accordian start --}}
 <section class="waf1 accordion-item">
    <div class="container space" style="background-color: rgb(249, 218, 255);">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
    <h1 style="text-align: center; padding-bottom:40px; padding-top:40px;"><strong>Strengthen Your Client Relations
Seamlessly with Wati & Klaviyo Integration!</strong></h1>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" width="26" height="26" src="/images/workflw.svg">
            <br><h4 class="h4" style="color: #1d1d1d;">Optimise B2C Customer Engagement</h4> 
             <br> <span>Send WhatsApp messages from Klaviyo using Wati to connect better with customers on their favourite platform.</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="info-box">
          <div class="default"><a href="#"><img width="26" height="26" src="/images/bigger-zapier.webp" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">Personalise Customer Interactions</h4>
      <br><span>Integrate Wati Chatbot into Klaviyo to ask customers specific questions. This helps create more personalized messages based on their responses.</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" width="26" height="26" src="/images/nocode.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Seamless Multi-Channel Communication</h4>
      <br>  <span>Synchronise Wati events with Klaviyo to send emails, SMS, or notifications at the right time to the right channel.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img width="26" height="26" alt="visibility" src="/images/add-box-multiple-zapier.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">Expand Your Klaviyo Database Effortlessly</h4>
      <br>  <span>Automatically add new contacts from Wati to your Klaviyo list, making your marketing list bigger and more effective.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img width="26" height="26" alt="visibility" src="/images/platform-managementlog-audit-zapier.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">Cultivate Your Wati Contact List</h4>
      <br><span>Grow your Wati database by automatically creating a new contact in Wati whenever one is established in Klaviy This keeps both databases up-to-date and improves customer engagement.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}

{{!-- rating start --}}
<section class="rating paddwat30">
    <div class="container space">
    <div class="row  text-center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
         <img width="300" height="60" src="/images/rating.svg" class="watirating" alt="wati rating">
    <h3 style="padding-top: 40px;"><strong>Rated 4.8 stars based on 170+ reviews </strong></h3>
    </div>
    </div></section>
    {{!-- rating end --}}



<section class="waf7 paddwat60">
   <div class="container">
    <div class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="default" style="padding-bottom: 40px;">
          <h3 class="h2">
           <strong>Frequently Asked Questions. </strong> 
          </h3>
          <br>
        </div>
    </div>
    <div class="row adjustbxflex wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
<div class="faq_content">
<div class="default">
    <h3 class="h4">
<img src="/images/question.svg" class="question" alt="question" width="23" height="23">
<strong>How quickly can I get started with Klaviyo and Wati integration?</strong>
</h3>
<br>
<p class="prgh ">You can set up and start using the Klaviyo and Wati integration within a single day. Just follow our straightforward guide to connecting Klaviyo and Wati seamlessly, enabling you to launch your campaigns without delay.</p>
</div>    
</div>
<hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4">
        <img src="/images/question.svg" class="question" alt="question" width="23" height="23">
          <strong>How should I choose between email and WhatsApp for my messaging campaigns?</strong>  
        </h3><br>
        <p class="prgh">Choosing the right channel is key to maximising engagement. For broader promotional content and sales announcements, email is your best bet. On the other hand, WhatsApp is ideal for sending timely updates, event reminders, and exclusive offers, ensuring your customers are always in the loop.</p>
    </div>
</div>
<hr>
<div class="faq_content">
<div class="default">
    <h3 class="h4">
      <img src="/images/question.svg" class="question" alt="question" width="23" height="23">
       <strong>Who can assist me with setting up the Klaviyo and Wati integration?</strong> 
    </h3><br>
    <p class="prgh">If you need help during the setup process or have questions about integrating Klaviyo with Wati, our dedicated support team at Wati is ready to assist you. Don't hesitate to reach out for any support you might need.</p>
</div>    
</div>
<hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4"><img src="/images/question.svg" class="question" alt="question" width="23" height="23">
        <strong>Can you tell me more about Klaviyo?</strong>
        </h3><br>
       <p class="prgh">Klaviyo is an intelligent marketing automation platform designed to drive data-driven growth. It enables businesses to deliver highly personalised, targeted messages by bringing all your data into a single, intelligent platform. Automate your marketing workflows across various channels efficiently with Klaviyo. Discover more about how Klaviyo can transform your marketing strategy here.</p>
    </div>
   </div>
   <hr>
   </div>
   </div>
   </section>

{{>discover}}

 {{>footer}}
{{!-- footer end --}}
<script src="/jq/jquery.min.js"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/owl.carousel.min.js"></script>
 <script>
   $(document).ready(function($){

    $('#slider .owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        autoplay:true,
        autoplayTimeout:1000,
        stagepadding:50,
        dots:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:6
            }
        }
    })

}); 

</script>

</body>
</html>