<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
{{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}

{{!-- hero section start --}}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">Wati for Marketing Agencies</span>
        <h1><br><strong>Make more effective use of WhatsApp as a channel</strong></h1>
          <p>Power up lead generation and relationship building on mobile for your clients</p>
      <div class="btns">
         <a href="https://app.wati.io/register?language=en&ajs_aid=0bc36754-c1c5-44c1-97fd-b1f44f2b4e6c" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Free 7 Day Trial</a>
        <br><br>
        <a><img src="images/No-card-icon.svg" alt="credit">No credit card required</a>
      </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;">
      
        <img width="555" height="450" class="wow fadeInRight slideimg" src="/images/Marketingg.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
      </div>
    </div>
        </div>
      </div>
    </div>
 {{!-- hero section end    --}}


 <section class="waf5 paddwat30">
  <div class="container" style="background-color:bisque;">
    <div class="text-center" style="background-color: #33ea94">
      <h3 class="h2" style="padding: 20px 0 20px 0;">
        <strong>Deliver better WhatsApp channel communications with Wati</strong></h3>
  </div>
  
  <div class="row adjustbxflex center">
   <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2"><strong>Maximize WhatsApp as a Channel</strong></h3>
      <h4 class="h4"><strong>Make the most of WhatsApp's presence to drive growth.</strong></h4>
      <div class="circledot"><span>Support clients above the line with branded lead-gen awareness and consideration communications.</span>
      <span>Drive below the line conversions through sales promotions and offers using rich media on mobile.</span></div>
    </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 imgcentr"><img class="img-width nopdd" src="/images/marketing-agencies-about-1.webp" alt="Wati Home" width="400" height="320"></div> 
  </div>
    
<div class="row adjustbxflex center">
  <div class="col-lg-6 col-md-6 col-sm-12 order2 imgcentr"style="padding-left:100px;">
    <img class="img-width nopdd" src="/images/marketing-agencies-about-2.webp" alt="Wati Home" width="400" height="320">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2 intylw">
        <strong>Partner with Wati</strong>
      </h3>
      <h4 class="h4"><strong>Drive client growth by partnering with Wati for WhatsApp marketing.</strong></h4> 
    <div class="circledot">
     <span>Recommend Wati to clients for digital services that drive lead-generation and support nurturing and engagement.</span> 
    <span>Own your clients'Wati accounts directly,providing WhatsApp channel communication as an outsourced service.</span>
    </div>
    </div>
  </div>
  </div>
  <div class="row adjustbxflex center">
   <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2"><strong>Added Value from Efficiency and Support</strong></h3>
      <h4 class="h4"><strong>Get efficient use and support to successfully market on WhatsApp.</strong></h4>
      <div class="circledot"><span>Customize configurations so that Wati delivers the best data for your clients.</span>
      <span>Get reporting that supports the value your agency provides.</span></div>
    </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 imgcentr"><img class="img-width nopdd" src="/images/marketing-agencies-about-3.webp" alt="Wati Home" width="400" height="320"></div> 
  </div>
  </div>
</section>

{{!-- accodian start --}}
<section class="waf1 accordion-item">
    <div class="container space">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" src="/images/Communication-Mail.svg">
            <br><h4 class="h4" style="color: #1d1d1d;">Forget Email and SMS!</h4> 
             <br> <span>WhatsApp is now a primary channel,so attract and nurture with high impact campaigns that support strong calls to action.</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="info-box">
          <div class="default"><a href="#"><img src="/images/link-svgrepo-com-5.svg" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">Engage and Nurture</h4>
      <br><span>Acquire, nurture and upsell using powerful chatbots and APIs, commerce integrations and customer intelligence.</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/list-center-svgrepo-com.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Integrate your CRM</h4>
      <br>  <span>Drive campaigns by integrating your favorite CRM- think of it as enterprise marketing management for WhatsApp.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/promotions-svgrepo-com.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Personalized Promotions</h4>
      <br>  <span>Design and message with personalized offers at scale to maximize engagement across your CRM data.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/messages-text-svgrepo-com.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Intelligent Auto-Response</h4>
      <br>  <span>Auto-respond intelligently by designing chatbots built to follow logical workflows and the ability to escalate to sales teams.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/stack-add-svgrepo-com.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Add to your Agency Stack</h4>
      <br>  <span>Native and custom integrations for your existing tools, CRMs, Google Sheets, and anything else in your software stack.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}

{{>block}}

 {{>discover}}


   {{!-- footer start --}}
{{>footer}}
{{!-- footer end --}}

<script src="/js/bootstrap.js" type="text/javascript"></script>

</body>
</html>