<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
{{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}

{{!-- hero section start --}}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">Wati for Marketers</span>
        <h1><br><strong>Engage and build relationships on WhatsApp</strong></h1>
          <p>Project your brand and engage customers and prospects</p>
      <div class="btns">
         <a href="https://app.wati.io/register?language=en&ajs_aid=0bc36754-c1c5-44c1-97fd-b1f44f2b4e6c" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Free 7 Day Trial</a>
        <br><br>
        <a><img src="images/No-card-icon.svg" alt="credit">No credit card required</a>
      </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;"> 
    <img width="555" height="450" class="wow fadeInRight slideimg" src="/images/M-teams.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
    </div>
    </div>
   </div>
    </div>
    </div>
 {{!-- hero section end    --}}


 <section class="waf5 paddwat30">
  <div class="container" style="background-color:bisque;">
 <div class="text-center" style="background-color: #33ea94">
 <h3 class="h2" style="padding: 20px 0 20px 0;">
 <strong>Engage to build your brand and support sales with WhatsApp</strong></h3>
  </div>
  <div class="row adjustbxflex center">
   <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2"><strong>Build your Brand</strong></h3>
      <h4 class="h4"><strong>Deliver brand communications to customers and prospects.</strong></h4>
      <div class="circledot"><span>Leverage WhatsApp reputation as a secure and reliable channel to support your brand.</span>
      <span>Hold conversations and make instant or timely responses that demonstrate high standards of customer sales and service.</span></div>
    </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 imgcentr"><img class="img-width nopdd" src="/images/marketing-teams-about-1.webp" alt="Wati Home" width="400" height="320"></div> 
  </div>
    
<div class="row adjustbxflex center">
  <div class="col-lg-6 col-md-6 col-sm-12 order2 imgcentr"style="padding-left:100px;">
    <img class="img-width nopdd" src="/images/marketing-teams-about-2.webp" alt="Wati Home" width="400" height="320">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2 intylw">
        <strong>Accelerate Growth</strong>
      </h3>
      <h4 class="h4"><strong>Create and oversee impactful campaigns to boost sales.</strong></h4> 
    <div class="circledot">
     <span>Broadcast extensive sales information using pre-approved message templates on WhatsApp,creating awareness and generating interest.</span> 
    <span>Tailor personalized offers to specific contact segments to drive higher sales conversions.</span>
    </div>
    </div>
  </div>
  </div>
  <div class="row adjustbxflex center">
   <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2"><strong>streamline and Foster Collaboration</strong></h3>
      <h4 class="h4"><strong>Simplify workflows and promote teamwork.</strong></h4>
      <div class="circledot"><span>Consolidate and improve the organization of customer interactions and engagements.</span>
      <span>Boost efficiency and maximize productivity with streamlined automation and integration for better results.</span></div>
    </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 imgcentr"><img class="img-width nopdd" src="/images/marketing-teams-about-3.webp" alt="Wati Home" width="400" height="320"></div> 
  </div>
  </div>
</section>

{{!-- accodian start --}}
<section class="waf1 accordion-item">
    <div class="container space">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" src="/images/funnel-svgrepo-com.svg">
            <br><h4 class="h4" style="color: #1d1d1d;">Instant Lead engagement</h4> 
             <br> <span>Start conversations with leads as soon as they sign up by responding with automated chatbots.</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="info-box">
          <div class="default"><a href="#"><img src="/images/megaphone-outline-2.svg" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">Keep Leads in the Funnel</h4>
      <br><span>Maintain a conversation and prevent lead leakage that happens when follow up by sales teams is delayed.</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/promotions-svgrepo-com-2.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Personalized Promotions</h4>
      <br><span>Design and message with personalized offers at scale to maximize engagement across your CRM data.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/chat-svgrepo-com-2.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Re-engage Prospects</h4>
      <br>  <span>Use personalization to message and re-angage with prospects after initial conversations have gone silent.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/notifications-alert-svgrepo-com-1.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Alert to Abondoned Carts</h4>
      <br>  <span>Alert and reconnect to customers with personalized offers for items in abandoned carts on your website.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/link-svgrepo-com-7.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Integrate Your Tools</h4>
      <br><span>Native and custom integration for your favorite tools such as CRM, helpdesk, and anything else in your software stack.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}

{{>block}}

 {{>discover}}


   {{!-- footer start --}}
{{>footer}}
{{!-- footer end --}}

<script src="/js/bootstrap.js" type="text/javascript"></script>

</body>
</html>