<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
    {{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}
<style>
    .prs{
    background: url("/images/no-co.webp");
    height:460px;
    width:520px;
    position:relative;
    background-size: contain;
    margin:auto;
    background-repeat:no-repeat;
        }
   .prs img.slideimg{
    right:16px;
    position:absolute;
    bottom:90px;
    object-fit: contain;
    width: 190px;
  }
  .home-width{
    object-fit: contain;
    padding:15px;
    margin:auto;
  }     
    </style>
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">No Code Chatbot</span>
        <h1><br><strong>Quickly build automated chatbots</strong></h1>
          <p>Efficiently respond to basic inquiries at scale</p>
      <div class="btns">
         <a href="https://app.wati.io/register?language=en&ajs_aid=0bc36754-c1c5-44c1-97fd-b1f44f2b4e6c" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Free 7 Day Trial</a>
        <br><br>
        <a><img src="images/No-card-icon.svg" alt="credit">No credit card required</a>
      </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;">
      <div class="prs">
        <img width="200" height class="wow fadeInRight slideimg" src="/images/girl-code.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
      </div>
    </div>
        </div>
      </div>
    </div>
    </div>
   
{{!-- hero section end --}}
   

   


<section class="waf5 paddwat30">
  <div class="container" style="background-color:bisque;">
    <div class="text-center" style="background-color: #33ea94">
      <h3 class="h2" style="padding: 20px 0 20px 0;">
        <strong>Industry-leading WhatsApp Business API automation</strong></h3>
  </div>
  
  <div class="row adjustbxflex center">
   <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2"><strong>No-code chatbots</strong></h3>
      <h4 class="h4"><strong>Automate responses to sales and support messages.</strong></h4>
      <div class="circledot"><span>Build and launch an intelligent WhatsApp chatbot in 3 minutes.</span>
      <span>No-coding needed-intuitive drag and drop flow builder interface.</span></div>
    </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 imgcentr"><img class="img-width nopdd" src="/images/No-Code-Chatbot-–-1.webp" alt="Wati Home" width="400" height="320"></div> 
  </div>
    
<div class="row adjustbxflex center">
  <div class="col-lg-6 col-md-6 col-sm-12 order2 imgcentr"style="padding-left:100px;">
    <img class="img-width nopdd" src="/images/No-Code-Chatbot-–-2.webp" alt="Wati Home" width="400" height="320">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2 intylw">
        <strong>More responsive</strong>
      </h3>
      <h4 class="h4"><strong>Respond to customer and prospect WhatsApp messages 24/7.</strong></h4> 
    <div class="circledot">
     <span>Time saving efficiency - no need to manually respond to routine sales or support inquiries.</span> 
    <span>Automation lets you capture more leads and connect with more contacts.</span>
    </div>
    </div>
  </div>
  </div>
  <div class="row adjustbxflex center">
   <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2"><strong>Automation and integration</strong></h3>
      <h4 class="h4"><strong>Aytomate integration with third party apps and platforms.</strong></h4>
      <div class="circledot"><span>Pre-built native integration with tools including Google Sheets,HubSpot and Zapier.</span>
      <span>Connect Wati to other popular tools using developer REST API functionality.</span></div>
    </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 imgcentr"><img class="img-width nopdd" src="/images/No-Code-Chatbot-–-3.webp" alt="Wati Home" width="400" height="320"></div> 
  </div>
  </div>
</section>

{{!-- accordian start --}}
 <section class="waf1 accordion-item">
    <div class="container space">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
        <div class="col-md-4 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" src="/images/timer.svg">
            <br><h4 class="h4" style="color: #1d1d1d;">Save Time</h4> 
             <br> <span>Let chatbots save time by responding to routine inquiries.</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-md-4 col-sm-12">
        <div class="info-box">
          <div class="default"><a href="#"><img src="/images/code-outline-badged-1.svg" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">Logical Flows</h4>
      <br><span>Build chatbots by using intuitive logical flows.</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/link-svgrepo-com-9.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Automate Integration</h4>
      <br>  <span>Connect your favorite third-party tools to Wati.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}
 {{>block}}

 {{>discover}}

{{!-- footer start --}}
{{>footer}}
{{!-- footer end --}}


<script src="/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>