<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
{{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}

{{!-- hero section start --}}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">Wati for Sales Teams</span>
        <h1><br><strong>Engage and sell more on WhatsApp</strong></h1>
          <p>Grow sales using WhatsApp's big presence indeveloping markets</p>
      <div class="btns">
         <a href="https://app.wati.io/register?language=en&ajs_aid=0bc36754-c1c5-44c1-97fd-b1f44f2b4e6c" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Free 7 Day Trial</a>
        <br><br>
        <a><img src="images/No-card-icon.svg" alt="credit">No credit card required</a>
      </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;"> 
    <img width="555" height="450" class="wow fadeInRight slideimg" src="/images/Saless.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
    </div>
    </div>
   </div>
    </div>
    </div>
 {{!-- hero section end    --}}


 <section class="waf5 paddwat30">
  <div class="container" style="background-color:bisque;">
    <div class="text-center" style="background-color: #33ea94">
      <h3 class="h2" style="padding: 20px 0 20px 0;">
        <strong>Be more responsive and Grow Your Sales with WhatsApp</strong></h3>
  </div>
  
  <div class="row adjustbxflex center">
   <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2"><strong>Collaborate Easily with Team Inbox</strong></h3>
      <h4 class="h4"><strong>Organize and manage your sales team for better WhatsApp lead response.</strong></h4>
      <div class="circledot"><span>Share your Wati Team Inbox across your sales team to enable collaboration and share the workload.</span>
      <span>Assign conversations to team members, enable continuity,build relationships and encourage more conversions.</span></div>
    </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 imgcentr"><img class="img-width nopdd" src="/images/sales-teams-about-1.webp" alt="Wati Home" width="400" height="320"></div> 
  </div>
    
<div class="row adjustbxflex center">
  <div class="col-lg-6 col-md-6 col-sm-12 order2 imgcentr"style="padding-left:100px;">
    <img class="img-width nopdd" src="/images/sales-teams-about-2.webp" alt="Wati Home" width="400" height="320">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2 intylw">
        <strong>Grow Your Sales</strong>
      </h3>
      <h4 class="h4"><strong>Launch effective campaigns to increase sales.</strong></h4> 
    <div class="circledot">
     <span>Broadcast general sales information at scale with WhatsApp pre-approved message templates for awareness and consideration.</span> 
    <span>Target specific segments of contact data with personalized offers to drive increased sales conversion.</span>
    </div>
    </div>
  </div>
  </div>
  <div class="row adjustbxflex center">
   <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2"><strong>Automate and Collaborate</strong></h3>
      <h4 class="h4"><strong>Automate tasks for better cross-team collaboration.</strong></h4>
      <div class="circledot"><span>Unify and better organize responses to customer sale inquiries and engagement activities.</span>
      <span>Work smarter with automated and integrated tech that delivers more value.</span></div>
    </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 imgcentr"><img class="img-width nopdd" src="/images/sales-teams-about-3.webp" alt="Wati Home" width="400" height="320"></div> 
  </div>
  </div>
</section>

{{!-- accodian start --}}
<section class="waf1 accordion-item">
    <div class="container space">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" src="/images/chat-2-svgrepo-com.svg">
            <br><h4 class="h4" style="color: #1d1d1d;">WhatsApp Chat</h4> 
             <br> <span>Add a WhatsApp chat button on your website, Facebook and instagram ads to invite queries from highly qualified leads.</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="info-box">
          <div class="default"><a href="#"><img src="/images/chatbot-svgrepo-com.svg" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">Automated Chatbots</h4>
      <br><span>Start automated conversations right after signup with Wati's easy to build chatbots that can be built using a drag-and-drop interface.</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/handshake-o.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Build Relationships Fast</h4>
      <br>  <span>Instantaneous conversations with customers help build relationships fast, preventing lead leakage and lost sales.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/compass-svgrepo-com.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Route Qualified Leads</h4>
      <br>  <span>Qualify and route your leads to the right place to ensure they are handled by the most appropriate team members.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/promotions-svgrepo-com-1.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Personalized Promotions</h4>
      <br>  <span>Design and message with personalized offers at scale to maximize engagement across your CRM data.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/link-svgrepo-com-6.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Integrate Your Tools</h4>
      <br>  <span>Native and custom integrations for your favorite tools, CRMs, helpdesks, and anything else in your software stack.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}

{{>block}}

 {{>discover}}


   {{!-- footer start --}}
{{>footer}}
{{!-- footer end --}}

<script src="/js/bootstrap.js" type="text/javascript"></script>

</body>
</html>