<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
    {{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}
{{!-- hero section start --}}
<style>
    .prs{
    background: url("/images/Tinbox.webp");
    height:460px;
    width:520px;
    position:relative;
    background-size: contain;
    margin:auto;
    background-repeat:no-repeat;
        }
   .prs img.slideimg{
    right:76px;
    position:absolute;
    bottom:20px;
    object-fit: contain;
    width: 190px;
  }
  .home-width{
    object-fit: contain;
    padding:15px;
    margin:auto;
  }     
    </style>
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">Team Inbox</span>
        <h1><br><strong>Manage conversations more easily</strong></h1>
          <p>Centralize message management and team collaboration.</p>
      <div class="btns">
         <a href="https://app.wati.io/register?language=en&ajs_aid=0bc36754-c1c5-44c1-97fd-b1f44f2b4e6c" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Free 7 Day Trial</a>
        <br><br>
        <a><img src="images/No-card-icon.svg" alt="credit">No credit card required</a>
      </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;">
      <div class="prs">
        <img width="200" height class="wow fadeInRight slideimg" src="/images/shared1.png" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
      </div>
    </div>
        </div>
      </div>
    </div>
    </div>
   
{{!-- hero section end --}}
   

   


<section class="waf5 paddwat30">
  <div class="container" style="background-color:bisque;">
    <div class="text-center" style="background-color: #33ea94">
      <h3 class="h2" style="padding: 20px 0 20px 0;">
        <strong>Effortless management of customer and prospect communication</strong></h3>
  </div>
  
  <div class="row adjustbxflex center">
   <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2"><strong>Organize users and teams</strong></h3>
      <h4 class="h4"><strong>Manage conversations better by assigning chats to users.</strong></h4>
      <div class="circledot"><span>Create teams of users for sales, support, or day and night shifts.</span>
      <span>Enable team collaboration for more transparent communications management.</span></div>
    </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 imgcentr"><img class="img-width nopdd" src="/images/Features-Team-Inbox-–-1.webp" alt="Wati Home" width="400" height="320"></div> 
  </div>
    
<div class="row adjustbxflex center">
  <div class="col-lg-6 col-md-6 col-sm-12 order2 imgcentr"style="padding-left:100px;">
    <img class="img-width nopdd" src="/images/Features-Team-Inbox-–-2.webp" alt="Wati Home" width="400" height="320">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2 intylw">
        <strong>Manage Contacts</strong>
      </h3>
      <h4 class="h4"><strong>Scalable to manage conversations with thousands of contacts.</strong></h4> 
    <div class="circledot">
     <span>See contact lists,add numbers for new contacts and import/export CSVs.</span> 
    <span>Tag contacts to identify categories such as VIPs, and to get better intelligence from reporting.</span>
    </div>
    </div>
  </div>
  </div>
  <div class="row adjustbxflex center">
   <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="wcontent">
      <h3 class="h2"><strong>Engage, sell and support</strong></h3>
      <h4 class="h4"><strong>Shows complete messages, threads and conversations.</strong></h4>
      <div class="circledot"><span>Personalize and enable user and customer interaction.</span>
      <span>Develop opportunities through personalized conversations, and update and support customers.</span></div>
    </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 imgcentr"><img class="img-width nopdd" src="/images/Features-Team-Inbox-–-3.webp" alt="Wati Home" width="400" height="320"></div> 
  </div>
  </div>
</section>

{{!-- accordian start --}}
 <section class="waf1 accordion-item">
    <div class="container space">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
        <div class="col-md-4 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" src="/images/79-users-3.svg">
            <br><h4 class="h4" style="color: #1d1d1d;"><strong>Organize Teams</strong></h4> 
             <span>Create teams and assign conversations to users.</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-md-4 col-sm-12">
        <div class="info-box">
          <div class="default"><a href="#"><img src="/images/bxs-contact.svg" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">Manage Contacts</h4>
      <br><span>Powerful contact management prevents missed opportunities.</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/messages-text-svgrepo-com-2.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Start Conversations</h4>
      <br>  <span>See all messages, threads and conversations.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}
 {{>block}}

 {{>discover}}

{{!-- footer start --}}
{{>footer}}
{{!-- footer end --}}


<script src="/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>