<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
{{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}

{{!-- hero section start --}}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <h1><br><strong>Unlocking the Power of WhatsApp: How Wati Empowers Businesses to Connect with Customers</strong></h1>
    </div>
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;">
      
        <img width="555" height="450" class="wow fadeInRight slideimg" src="/images/casestudy.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
      </div>
    </div>
        </div>
      </div>
    </div>
 {{!-- hero section end    --}}


 {{!-- slider start --}}
 {{> slider}}
{{!-- slider end --}}

{{!-- block start --}}
<section class="waf6 paddwat30" style="background-color: #eaea55">
    <div class="container">
      <div class="wow fadeIn" style="visibility:visible; animation-name: fadeIn;">
        <h2 style="text-align: center;"><strong>Over 8,000 customers</strong></h2>
        <p class="prgh text-center default">What some of our 8,000+ customers across 100+ countries think of Wati.</p>
      </div>
      <div class="row center">
        <ul class="adjustbxflex center">
          <li class="adjustbxflex wow fadeIn" style="visibility:visible; animation-name:fadeIn;">
            <div class="default"><h4 class="h4">Easy chatbot automation tool</h4>
            <p class="prghsp">Creating automated chatbot flows is very easy. I have automated our entire bot flow within 2 days with no development or design costs<br></p>
            <span><b>Ebin P</b><br>Developer</span>
        </div>
          </li>
        

          
          <li class="adjustbxflex wow fadeIn" style="visibility:visible; animation-name:fadeIn;">
            <div class="default"><h4 class="h4">The interface is also very intuitive and user-friendly</h4>
              <p class="prghsp">I was looking for an easy-to-use and easy-to-set up my account in less than 72 hours, which is a huge plus for me. The interface is also very intuitive and user-friendly, which is great because I'm not the most tech-savvy person out there.</p> 
              <span><b>Muhammad F</b>
              <br>COO</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  {{!-- block end --}}

{{!-- accordian start --}}
 <section class="waf1 accordion-item">
    <div class="container space">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
        <div class="col-md-4 col-sm-12">
          <div class="info-box1">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" width="260" height="180" src="/images/zellbury.svg">
            <br><h4 class="h4" style="color: #1d1d1d;">Wati helped Zellbury achieve an impressive 87% customer satisfaction rate on support!</h4></a>
            </div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-md-4 col-sm-12">
        <div class="info-box1">
          <div class="default"><a href="#"><img width="260" height="180" src="/images/211.svg" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">Wati Skyrocked 21K School's Customer Acquisition by 72% in 11 Months</h4>
      </a></div>
      <br>
      <br></div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="info-box1">
        <div class="default"><a href="#"><img alt="visibility" width="260" height="180" src="/images/Ekatra.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">5x Increase in Online Learning Attendance: How Ekatra Achieved it with Wati</h4></a>
        </div>
    <br>
    <br></div>
  </div>
  <div class="col-md-4 col-sm-12">
      <div class="info-box1">
        <div class="default"><a href="#"><img width="260" height="180" alt="visibility" src="/images/terpel.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Reviewing Up Sales: Terpel's Whopping $35M Success with Wati</h4></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-md-4 col-sm-12">
      <div class="info-box1">
        <div class="default"><a href="#"><img width="260" height="180" alt="visibility" src="/images/Geekster.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Supercharging Ed-Tech Success: Wati Fuels Geekster's 2x Customer Engagement Boost</h4></a></div>
    <br>
    <br></div>
  </div>

  <div class="col-md-4 col-sm-12">
      <div class="info-box1">
        <div class="default"><a href="#"><img width="260" height="180" alt="visibility" src="/images/inves.jpg">
        <br><h4 class="h4" style="color: #1d1d1d;">InvestAI got 30x more responses than traditional emails using Wati</h4></a></div>
    <br>
    <br></div>
  </div>

  <div class="col-md-4 col-sm-12">
      <div class="info-box1">
        <div class="default"><a href="#"><img width="260" height="180" alt="visibility" src="/images/Habuildd.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">From 200 To 80,000+ Subscribers: How Wati Empowered Habuild's Remarkable Growth</h4></a></div>
    <br>
    <br></div>
  </div>

  <div class="col-md-4 col-sm-12">
      <div class="info-box1">
        <div class="default"><a href="#"><img width="260" height="180" alt="visibility" src="/images/AsiaBC_Logo.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">Wati helped AsiaBC Reduce Lead Capturing Time by 85%</h4></a></div>
    <br>
    <br></div>
  </div>

  <div class="col-md-4 col-sm-12">
      <div class="info-box1">
        <div class="default"><a href="#"><img width="260" height="180" alt="visibility" src="/images/Vedantuhome.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">Vedantu's Triumph with Wati:50% Drop in Contact Center Calls</h4></a></div>
    <br>
    <br></div>
  </div>

  <div class="col-md-4 col-sm-12">
      <div class="info-box1">
        <div class="default"><a href="#"><img width="260" height="180" alt="visibility" src="/images/Invoay-Case-Study.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">Cutting Customer Care Workload by 40% : Invoay's Success Story</h4></a></div>
    <br>
    <br></div>
  </div>

  <div class="col-md-4 col-sm-12">
      <div class="info-box1">
        <div class="default"><a href="#"><img width="260" height="180" alt="visibility" src="/images/Group-16664.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">Emerald Jewel Industry Streamlines Their Hiring Process with Wati Chatbots</h4></a></div>
    <br>
    <br></div>
  </div>

  <div class="col-md-4 col-sm-12">
      <div class="info-box1">
        <div class="default"><a href="#"><img width="260" height="180" alt="visibility" src="/images/vikas-logo.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">How A Young Entrepreneur Thrives with Wati's Affiliate Program</h4></a></div>
    <br>
    <br></div>
  </div>

  <div class="col-md-4 col-sm-12">
      <div class="info-box1">
        <div class="default"><a href="#"><img width="260" height="180" alt="visibility" src="/images/oxwhite.webp">
        <br><h4 class="h4" style="color: #1d1d1d;">Wati's Impact: Oxwhite's Conversion Rates Soar by 20%</h4></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}



{{>discover}}

{{!-- footer end --}}
 {{>footer}}
{{!-- footer end --}}

<script src="/jq/jquery.min.js"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/owl.carousel.min.js"></script>
 <script>
   $(document).ready(function($){

    $('#slider .owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        autoplay:true,
        autoplayTimeout:1000,
        stagepadding:50,
        dots:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:6
            }
        }
    })

}); 
</script>

</body>
</html>