<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
{{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}

{{!-- hero section start --}}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">Template Library</span>
        <h1><br><strong>Festive Messaging Made Easier!</strong></h1>
          <p>Access Ready-to-use WhatsApp Templates to boost conversions and engagement</p>
      <div class="btns">
         <a href="https://app.wati.io/register?language=en&ajs_aid=0bc36754-c1c5-44c1-97fd-b1f44f2b4e6c" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Free 7 Day Trial</a>
        <br><br>
        <a><img src="images/No-card-icon.svg" alt="credit">No credit card required</a>
        </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;">
      
        <img width="555" height="450" class="wow fadeInRight slideimg" src="/images/homw.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
      </div>
    </div>
        </div>
      </div>
    </div>
 {{!-- hero section end    --}}


{{!-- vedio start --}}
<section class="paddwat60" style="background:#e3f5ff; padding:50px 0 50px;">
    <div class="container ">
        <div class="row adjustbxflex center paddwat30">
         <div class="col-md-6 col-sm-12 order2 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <h2 class="h2  space_btm "><strong>Using Templates in Wati</strong></h2>
            <div class=" nw checkcircle">
                <p class="prgh">If you're a Wati user, here's how to find these templates:</p>
               <span class>1. Go to 'Broadcasts' and click 'New Template Message' in the top right corner.</span>
              <span class>2. Click 'Use a template' to access the library.</span>
                </div>
         </div>
            <div class="col-md-6 col-sm-12 text-center">
               <img style="width: 100%; border: 2px solid; border-radius: 10px; visibility: visible; animation-name: fadeIn;" class="wow fadeIn" src="/images/whatspp-templates.gif" alt="Partner Wati"> 
            </div>
        </div>
    </div>
</section>
{{!-- vedio end --}}

<section class="waf4  paddwat60">
    <div class="container" style="background:#CAFDE8;">
    <div class="row adjustbxflex center paddwat30">
        <div class="col-md-3 col-sm-12 text-center"><img class="imgfestive wow fadeIn" src="/images/festive.webp" alt="Partner Wati" style="visibility: visible; animation-name: fadeIn;"></div>
    <div class="col-md-9 col-sm-12 order2 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <h1><strong>Why use WhatsApp Templates?</strong></h1>
      <div class="circledot checkcircle">
        <span class="one">
            <strong>Save Time - </strong> Broadcast messages swiftly and efficiently.</span>
            <span class="two">
            <strong>Consistent Branding - </strong> Keep your brand image professional and reliable.</span>

            <span class="three">
            <strong>Personalization - </strong> Add the recipient's name or specific offers to make customers feel valuable and appreciated.</span>
            </div>  
    </div>
    </div>    
    </div>
</section>

<section class="paddwat30" style="background:#e3f5ff; padding:50px 0 50px 0;">
    <div class="container space">
       <div class="row ">
        <ul class="tabbs" style="justify-content:center;">
            <li class="tab active"><button class="btnn" href="#english" data-toggle="tab">English</button></li>
            <li class="tab"><button class="btnn" href="#hindi" data-toggle="tab">Hindi</button></li>
            <li class="tab"><button class="btnn" href="#spanish" data-toggle="tab">Spanish</button></li>
            <li class="tab"><button class="btnn" href="#ptbr" data-toggle="tab">Portuguese</button></li>
            <li class="tab"><button class="btnn" href="#bahasa" data-toggle="tab">Bahasa</button></li>
            <li class="tab"><button class="btnn" href="#ar" data-toggle="tab">Arabic</button></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="english">
              <div class="month">
                <h4 style="padding: 20px;">Festivals</h4>
                <ul class="monthly">
                   
                    <li><a class="white" href="/whatsapp-templates/gandhi-jayanti/" target="_blank">Gandhi Jayanti</a></li>
                    <li><a class="white" href="/whatsapp-templates/navratri-dussehra/" target="_blank">Navaratri & Dussehra</a></li>
                    <li><a class="white" href="/whatsapp-templates/sales/" target="_blank">Sales</a></li>
                    <li><a class="white" href="/whatsapp-templates/cyber-monday/" target="_blank">Cyber Monday</a></li>
                    

                    <li><a class="white" href="/whatsapp-templates/thanksgiving/" target="_blank">Thanksgiving</a></li>
                    <li><a class="white" href="/whatsapp-templates/black-friday/" target="_blank">Black Friday</a></li>
                    <li><a class="white" href="/whatsapp-templates/diwali-14-nov/" target="_blank">Diwali</a></li>
                    <li><a class="white" href="/whatsapp-templates/dhanteras/" target="_blank">Dhanteras</a></li>
                    

                 
                    <li><a class="white" href="/whatsapp-templates/republic-day/" target="_blank">Republic Day</a></li>
                    <li><a class="white" href="/whatsapp-templates/makar-sankranti/" target="_blank">Makar Sankranti</a></li>
                    <li><a class="white" href="/whatsapp-templates/holi/" target="_blank">Holi </a></li>
                    <li><a class="white" href="/whatsapp-templates/easter/" target="_blank">Easter </a></li>
                    

                    <li><a class="white" href="/whatsapp-templates/womens-day/" target="_blank">Womens Day </a></li>
                    <li><a class="white" href="/whatsapp-templates/ramadan/" target="_blank">Ramadan </a></li>
                    <li><a class="white" href="/whatsapp-templates/eid-al-adha/" target="_blank">Eid al-Adha </a></li>
                
                </ul>
              </div>  
            </div>
<div class="tab-pane fade" id="hindi">
    <div class="month">
        <h4 class="h4">Festivals</h4>
        <ul class="monthly">
            <li><a class="white" href="/whatsapp-templates/diwali-hindi/" target="_blank">Diwali</a></li>
            <li><a class="white" href="/whatsapp-templates/cheat-sheets-hindi/" target="_blank">Cheat Sheets</a></li>
            <li><a class="white" href="/whatsapp-templates/धनतेरस/" target="_blank">Dhanteras</a></li>
            <li><a class="white" href="/whatsapp-templates/republic-day-hindi/" target="_blank">Republic Day</a></li>
            <li><a class="white" href="/whatsapp-templates/makar-sankranti-hindi/" target="_blank">Makar Sankranti</a></li>
            <li><a class="white" href="/whatsapp-templates/होली/" target="_blank">Holi</a></li>
        </ul>
    </div>
</div>

<div class="tab-pane fade in " id="spanish">
<div class="month">
    <h4 class="h4">Festivales</h4>
  <ul class="monthly">
    <li><a class="white" href="/whatsapp-templates/buen-fin-en/" target="_blank">Buen Fin en</a></li>
  </ul>
</div>
</div>

<div class="tab-pane fade in " id="ptbr">
<h4 class="h4">Festivales</h4>
    <ul class="monthly">
        <li><a class="white" href="/whatsapp-templates/easter-portuguese/" target="_blank">Easter</a></li>
    </ul>
</div>

<div class="tab-pane fade in" id="bahasa">
    <div class="month">
      <h4 class="h4">Festivals</h4>
        <ul class="monthly">
            <li><a class="white" href="/whatsapp-templates/eid-al-adha-bahasa/" target="_blank">Eid al-Adha</a></li>
        </ul>
    </div>
</div>

<div class="tab-pane fade in" id="ar">
  <div class="month">
    <h4 class="h4">Festivals</h4>
    <ul class="monthly">
        <li><a class="white" href="/whatsapp-templates/eid-al-adha-arabic/" target="_blank">Eid al-Adha</a></li>
    </ul>
  </div>  
</div>

            </div>
       </div> 
    </div>
</section>



 {{!-- discover section start --}}
{{>discover}}
{{!-- discover section end --}}

{{!-- footer start --}}
{{>footer}}
{{!-- footer end --}}


<script src="/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>