<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{watii.io}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.min.css">
</head>
<body>
{{!-- navbar start --}}
{{>navbar}}
{{!-- navbar end --}}

{{!-- hero section start --}}
<div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 wow fadeInLeft animate__animated animate__fadeInLeft intgr hero-text" style="visibility: visible; animation-name: fadeInLeft;">  
        <br>
        <br>
        <span class="default">WooCommerce Chat and Notification by Wati</span>
        <h1><br><strong>A better WooCommerce experience for your online customers</strong></h1>
          <p>Great features and more convenience to help boost sales in your WooCommerce store.</p>
      <div class="btns">
         <a href="https://wordpress.org/plugins/wati-chat-and-notification/" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button" style="background-color: rgb(85, 245, 154);">Find it on the WooCommerce Marketplace</a>
        <br><br>
        </div>
    </div>
        
        {{!-- right side --}}
    <div class="col-md-6 col-12 order-md-1 order-0 wow fadeInRight animate__animated animate__fadeInRight intgr home-banner-left-text" style="visibility: visible; animation-name: fadeInRight;">
      
        <img width="555" height="450" class="wow fadeInRight slideimg" src="/images/woocmercee.webp" alt="Inbox" style="visibility: visible; animation-name:fadeInRight;">
      </div>
    </div>
        </div>
      </div>
    </div>
 {{!-- hero section end    --}}

{{!-- slider start --}}

 {{> slider}}

{{!-- slider end --}}


{{!-- accordian start --}}
 <section class="waf1 accordion-item">
    <div class="container space" style="background-color: rgb(249, 218, 255);">
         <div class="wow fadeIn" style="visibility: visible; animation-name:fadeIN;">
<div class="row adjustbxflex flex">
    <h1 style="text-align: center; padding-bottom:40px; padding-top:40px;"><strong>Plug WhatsApp into your
WooCommerce online store beautifully!</strong></h1>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="info-box">
            <div class="default"><a href="#"><img loading="lazy" alt="visibility" src="/images/lead.svg">
            <br><h4 class="h4" style="color: #1d1d1d;">Abandoned Cart Messages</h4> 
             <br> <span>Send messages to recover abandoned carts on WhatsApp</span></a></div>
          <br>
          <br>
          </div>
        </div>
        
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="info-box">
          <div class="default"><a href="#"><img src="/images/resolution.svg" alt="visibility">
       <br><h4 class="h4" style="color: #1d1d1d;">24/7 Sales and Support</h4>
      <br><span>Enable 24/7 sales and support with WhatsApp chatbots and Team Inbox.</span></a></div>
      <br>
      <br></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/addmision.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Send Timely Updates</h4>
      <br>  <span>Send order updates, delivery and tracking notifications on WhatsApp.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/onboarding.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Template Messages</h4>
      <br>  <span>Get customizable ecommerce messages with templates pre-approved by WhatsApp.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/reminders.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">WhatsApp Chat Button</h4>
      <br><span>Add a WhatsApp Chat button to make it a preferred channel of your WooCommerce store.</span></a></div>
    <br>
    <br></div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="info-box">
        <div class="default"><a href="#"><img alt="visibility" src="/images/streports.svg">
        <br><h4 class="h4" style="color: #1d1d1d;">Personalized Marketing</h4>
      <br><span>Send bulk WhatsApp notifications and broadcast personalized marketing campaigns.</span></a></div>
    <br>
    <br></div>
  </div>
</div>
    </div>
</div>
</section>
{{!-- accordian end --}}

{{!-- rating start --}}
<section class="rating paddwat30">
    <div class="container space">
    <div class="row  text-center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
         <img width="300" height="60" src="/images/rating.svg" class="watirating" alt="wati rating">
    <h3 style="padding-top: 40px;"><strong>Rated 4.8 stars based on 170+ reviews </strong></h3>
    </div>
    </div></section>
    {{!-- rating end --}}

    {{!-- vedio start --}}
<section class="paddwat60" style="padding:50px 0px 50px 90px;">
<div class="container">
    <div class="row  adjustbxflex center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
       <div class="col-md-6 col-sm-6">
        <a href="https://www.youtube.com/watch?v=NFKn0fTRrAU&ab_channel=Wati" data-lity>
        <img class="img-width" src="/images/woocommerc.png" alt="Zoho" width="555px" height="289px"></a>
        </div> 
<div class="col-md-6 col-sm-6 wow fadeIn cent" style="visibility: visible; animation-name: fadeIn;">
    <div style="padding: 100px 0 100px 0;"><h2><strong>See Wati WooCommerce integration <br> in action</strong></h2>
    <p class="prgh">Learn all about Wati’s WhatsApp chat & notification integration</p>
    </div>
</div>
</div>
</div></section>
    {{!-- vedio end --}}


<section class="waf7 paddwat60">
   <div class="container">
    <div class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="default" style="padding-bottom: 40px;">
          <h3 class="h2">
           <strong>Frequently Asked Questions. </strong> 
          </h3>
          <br>
        </div>
    </div>
    <div class="row adjustbxflex wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
<div class="faq_content">
<div class="default">
    <h3 class="h4">
<img src="/images/question.svg" class="question" alt="question" width="23" height="23">
<strong>What is Wati WooCommerce Integration?</strong>
</h3>
<br>
<p class="prgh ">It connects your WooCommerce store with Wati's WhatsApp Business API for improved customer service.</p>
</div>    
</div>
<hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4">
        <img src="/images/question.svg" class="question" alt="question" width="23" height="23">
          <strong>What types of notifications can I send through Wati WooCommerce Integration?</strong>  
        </h3><br>
        <p class="prgh">Order confirmations, shipment updates, delivery notifications, and customized marketing messages.</p>
    </div>
</div>
<hr>
<div class="faq_content">
<div class="default">
    <h3 class="h4">
      <img src="/images/question.svg" class="question" alt="question" width="23" height="23">
       <strong>What is WooCommerce abandoned cart recovery?</strong> 
    </h3><br>
    <p class="prgh">Automatically sending WhatsApp reminders to customers who left products in their cart without completing the purchase.</p>
</div>    
</div>
<hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4"><img src="/images/question.svg" class="question" alt="question" width="23" height="23">
        <strong>How can Wati help recover WooCommerce's abandoned carts?</strong>
        </h3><br>
       <p class="prgh">Automatically sending automated reminders to customers who left products in their cart without completing the purchase with clickable links or buttons to complete their purchases.</p>
    </div>
   </div>
   <hr>
<div class="faq_content">
    <div class="default">
        <h3 class="h4"><img src="/images/question.svg" class="question" alt="question" width="23" height="23">
        <strong>Can I offer special discounts or offers in abandoned cart reminders sent via WhatsApp?</strong>
        </h3><br>
       <p class="prgh">Yes, you can include special discounts or offers in these automated WhatsApp notifications.</p>
    </div>
   </div>
   <hr> 
   </div>
   </div>
   </section>

{{>discover}}

 {{>footer}}
{{!-- footer end --}}
<script src="/jq/jquery.min.js"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/owl.carousel.min.js"></script>
 <script>
   $(document).ready(function($){

    $('#slider .owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        autoplay:true,
        autoplayTimeout:1000,
        stagepadding:50,
        dots:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:6
            }
        }
    })

}); 

</script>

</body>
</html>