 <section class="waf6 paddwat30" style="background-color: pink">
    <div class="container">
      <div class="wow fadeIn" style="visibility:visible; animation-name: fadeIn;">
        <h2 style="text-align: center;"><strong>Over 8,000 customers</strong></h2>
        <p class="prgh text-center default">What some of our 8,000+ customers across 100+ countries think of Wati.</p>
      </div>
      <div class="row">
        <ul class="adjust center">
          <li class="adjust wow fadeIn" style="visibility:visible; animation-name:fadeIn;">
            <div class="def"><h4 class="h4"><strong>Highly customisable and friendly</strong></h4>
            <p class="prghsp">We work in the hotel business, so keeping in touch with people travelling is very easy using WhatsApp. Wati help us to have multiple people answering guests. It also allows us to automate basic replies such as the address "<br></p>
            <span><b>Eduardo Zeballos</b><br>Marketing Manager, Hotel Rosario</span>
          </div>
          </li>
        

          
          <li class="adjust wow fadeIn" style="visibility:visible; animation-name:fadeIn;">
            <div class="def"><h4 class="h4"><strong>Great product for early-stage startups</strong></h4>
              <p class="prghsp">Wati is flexible, unlike a lot of other WhatsApp business solutions out there. As an early startup, we work on Google sheets and website forms. We do not have phone support. WhatsApp is our only support channel. Wati helps us manage customer interactions on WhatsApp seamlessly at a very reasonable cost.</p> 
              <span><b>Pradeep Dodle</b>
              <br>Co-founder, Superfone</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section> 



