<section class="waf8 paddwat60">
    <div class="container">
      <div class="row adjustbxflex center">
        <div class="col-md-12 col-sm-12 sec">
          <h2 class="h2 int default"><strong>Discover more:</strong><br><br>
         <p class="pr"> WhatsApp, Facebook and Instagram’s share of social media messaging is unrivaled. <br>
         <br>
         Harness it with one of the fastest growing WhatsApp Business Solution Providers.<p></p></h2><br>
          <div class="btns  space default">
            <a href="https://app.wati.io/register?language=en&ajs_aid=0bc36754-c1c5-44c1-97fd-b1f44f2b4e6c" target="_blank" rel="noopener" class="btn brdr wht"  href="#" role="button">Free 7 Day Trial</a>
            <a class="btn brdr wht" href="#" role="button">Book Demo</a></div>
        </div>
      </div>
    </div>
  </section>
