<footer class="footer">
    <section class="foot">
        <div class="container">
            <div class="row adjustbxflex rowfirst">
                <div class="col-md-11 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                    <ul><li class="list h4" style="color:mediumspringgreen">Top Features</li>
                    <li class="list"><a href="/whatsappads">Click to WhatsApp Ads</a></li>
                    <li class="list"><a href="/catalog">Catalog</a></li>
                    <li class="list"><a href="/shared">Shared Team Inbox</a></li>
                    <li class="list"><a href="/broadcast">Broadcast & Bulk Messages</a></li>
                    <li class="list"><a href="/notifications">Custom Notifications</a></li>
                    <li class="list"><a href="/nocode">No Code Chatbot</a></li>
                    <li class="btm_brdr blclor"></li>
                    <li class="list h4" style="color:orange">Solutions</li>
                    <li class="list"><a href="/education">Education</a></li>
                    <li class="list"><a href="/healthcare">Healthcare</a></li>
                    <li class="list"><a href="/marketing">Marketing Agencies</a></li>
                    <li class="list"><a href="/sales">Sales Teams</a></li>
                    <li class="list"><a href="/support">Support Teams</a></li>
                    <li class="list"><a href="/mt">Marketing Teams</a></li>
                  </ul>
                </div>
                
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <ul><li class="list h4" style="color: blueviolet;">Integrations</li>
                    <li class="list"><a href="#">Zoho</a></li>
                    <li class="list"><a href="#">Pabbly Connect</a></li>
                    <li class="list"><a href="#">Shopify</a></li>
                    <li class="list"><a href="#">wooCommerce</a></li>
                    <li class="list"><a href="#">Make aka Integromat</a></li>
                    <li class="list"><a href="#">Zapier</a></li>
                    <li class="list"><a href="#">HubSpot</a></li>
                    <li class="list"><a href="#">Google Sheets Sender</a></li>
                    <li class="list"><a href="#">WhatsApp Shop</a></li>
                    <li class="list"><a href="#">Backup WhatsApp Chats</a></li>
                    <li class="list"><a href="#">Klaviyo</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                  <ul><li class="list h4" style="color:rgb(145, 220, 70)">Resources</li>
                    <li class="list"><a href="#">Ebooks</a></li>
                    <li class="list"><a href="#">Watipedia</a></li>
                    <li class="list"><a href="https://academy.wati.io/" target="_blank" rel="noopener">Wati Academy</a></li>
                    <li class="list"><a href="https://www.udemy.com/course/whatsapp-targeted-marketing/" target="_blank" rel="noopener">Udemy Course (Free)</a></li>
                    <li class="list"><a href="#">WhatsApp Templates</a></li>
                    <li class="list"><a href="#">Customer Stories</a></li>
                    <li class="list"><a href="#">Developer Docs</a></li>
                    <li class="list"><a href="#">Brand Guidelines</a></li>
                    <li class="list"><a href="https://support.wati.io/l/en" target="_blank" rel="noopener">Help Center</a></li>
                    <li class="list"><a href="https://www.facebook.com/groups/WhatsAppBusinessAPI/" target="_blank" rel="noopener">Community</a></li>
                    <li class="btm_brdr yelw_br"></li>
                    <li class="list h4" style="color:rgb(240, 93, 191);">Free WhatsApp Tools</li>
                    <li class="list"><a href="#">WhatsApp Chat Link Generator</a></li>
                    <li class="list"><a href="#">WhatsApp QR Code Generator</a></li>
                    <li class="list"><a href="#">WhatsApp Chat Button Generator</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                  <ul><li class="list h4" style="color:rgb(229, 46, 232)">Wati</li>
                    <li class="list"><a href="#">Product Overview</a></li>
                    <li class="list"><a href="#">Free Trial</a></li>
                    <li class="list"><a href="#">Book a Demo</a></li>
                    <li class="list"><a href="#">Contact Us</a></li>
                    <li class="list"><a href="#">About Us</a></li>
                    <li class="list"><a href="#">Careers</a></li>
                    <li class="list"><a href="#">Become a Partner</a></li>
                    <li class="list"><a href="#">Become an Affiliate</a></li>
                  </ul>
                </div>
                </div>
                </div>
                <div class="col-md-1 col-sm-12 col-xs-12 chek">
                  <div class="switcher notranlate">
                    <div class="selected">
                      <div><img class="lazy_a" width="40" height="40" src="images/Language-icon.svg" dat-original="images/Language-icon.svg"alt="Language"></div>
                    </div>
                    <div class="option">
                      <div class="default">
                        <a class="nturl" title="Hongkong" href="/zh-hant/" target="_blank" rel="noopener">繁體中文</a>
                        <a class="nturl" title="brazil" href="/pt-br/" target="_blank" rel="noopener">Português</a>
                        <a class="nturl" title="Bahasa" href="/id/" target="_blank" rel="noopener">Bahasa</a>
                        <a class="nturl" title="Latin" href="/es/" target="_blank" rel="noopener">Español</a>
                        <a class="nturl" title="Singapore" href="/zh-hans/" target="_blank" rel="noopener">简体中文</a>
                        <a class="nturl" title="Arabic" href="/ar/" target="_blank" rel="noopener">عربي</a>
                    </div>
                    </div>
                  </div>
                  </div>
            </div>
            <div class="row_space_center">
              <div class="col-6 col-md-2 col-sm-6 col-xs-6"><img src="images/CustomerCommunicationsManagement_EasiestToUse_Mid-Market_EaseOfUse.webp" class="img-logo-footer" loading="lazy"></div>
              <div class="col-6 col-md-2 col-sm-6 col-xs-6"><img src="images/CommunicationPlatformasaService_HighestUserAdoption_Mid-Market_Adoption.webp" class="img-logo-footer" loading="lazy"></div>
              <div class="col-6 col-md-2 col-sm-6 col-xs-6"><img src="images/Chatbots_HighPerformer_Small-Business_HighPerformer.webp" class="img-logo-footer" loading="lazy"></div>
              <div class="col-6 col-md-2 col-sm-6 col-xs-6"><img src="images/CustomerCommunicationsManagement_EasiestSetup_Mid-Market_EaseOfSetup.webp" class="img-logo-footer" loading="lazy"></div>
              <div class="col-6 col-md-2 col-sm-6 col-xs-6"><img src="images/CommunicationPlatformasaService_FastestImplementation_Mid-Market_GoLiveTime.webp" class="img-logo-footer" loading="lazy"></div>
              <div class="col-6 col-md-2 col-sm-6 col-xs-6"><img src="images/Chatbots_HighPerformer_HighPerformer.webp" class="img-logo-footer" loading="lazy"></div>
        </div>
        <div class="row adjustbxflex space center">
          <div class="col-md-5 col-sm-12 col-xs-12" style="margin-top: 10px;">
          <span class="copyright default"><b>© Wati 2024</b>" | "
            <a href="#">Terms and Conditions</a> | <a
            href="#">Privacy</a>
</span>
</div>
        
        <div class="col-md-4 col-sm-12 col-xs-12 nopaid" style="margin-top: 10px;">
          <div class="row adjustbxflex center left">
           <div class="col-6 col-md-4 col-sm-6 col-xs-6">
            <a class="meta" href="https://www.facebook.com/business/partner-directory/search?solution_type=messaging&id=799479580410500&section=overview" target="_blank" rel="noopener"><img class="lazy_a" alt="Meta" width="90" height="50" src="images/meeta.svg" style> </a>
          </div>
          <div class="col-6 col-md-4 col-sm-6 col-xs-6">
            <a class="gp" href="https://play.google.com/store/apps/details?id=com.clareai.wati&pli=1" target="_blank" rel="noopener"><img class="lazy_a" alt="Play Store" width="90" height="50" src="images/goo.svg" style> </a>
          </div>
          <div class="col-6 col-md-4 col-sm-6 col-xs-6">
            <a class="ap" href="https://apps.apple.com/us/app/wati/id1507066694?ls=1" target="_blank" rel="noopener"><img class="lazy_a" alt="App Store" width="90" height="50" src="images/appstr.svg" style> </a>
          </div> 
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 ri" style="margin-top: 10px;">
          <div class="footer_social default">
           <a class="footer__link" href="https://www.facebook.com/watiglobal/" target="_blank" rel="noopener"><img class="lagy_a" alt="Wati Social Media" width="30" height="30" src="images/facebook-rect.svg" style></a> 
           <a class="footer__link" href="https://www.facebook.com/watiglobal/" target="_blank" rel="noopener"><img class="lagy_a" alt="Wati Social Media" width="30" height="30" src="images/Twitter-x.svg" style></a> 
           <a class="footer__link" href="https://www.facebook.com/watiglobal/" target="_blank" rel="noopener"><img class="lagy_a" alt="Wati Social Media" width="30" height="30" src="images/linkedin-rect.svg" style></a> 
           <a class="footer__link" href="https://www.facebook.com/watiglobal/" target="_blank" rel="noopener"><img class="lagy_a" alt="Wati Social Media" width="30" height="30" src="images/youtube-1.svg" style></a> 
           <a class="footer__link" href="https://www.facebook.com/watiglobal/" target="_blank" rel="noopener"><img class="lagy_a" alt="Wati Social Media" width="30" height="30" src="images/insta-1.svg" style></a> 
          </div>
        </div>
        </div>
        </div>
    </section>
</footer>
