
 <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/"><img class width="150" height="50" src="images/wati-logo-1.svg" alt="Wati Logo Black"></a> 
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #00e785;">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Features
            </a>
            <ul class="dropdown-menu dropdown-menu-start">
              <li><a class="dropdown-item" href="/whatsappads">Click to WhatsApp Ads</a></li>
              <li><a class="dropdown-item" href="/catalog">Catalog</a></li>
              <li><a class="dropdown-item" href="/shared">Shared Team Inbox</a></li>
              <li><a class="dropdown-item" href="/broadcast">Broadcast & Bulk Messages</a></li>
              <li><a class="dropdown-item" href="/notifications">Custom Notifications</a></li>
              <li><a class="dropdown-item" href="/nocode">No Code Chatbot</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Solutions
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/education">Education</a></li>
              <li><a class="dropdown-item" href="/marketing">Marketing Agencies</a></li>
              <li><a class="dropdown-item" href="/sales">Sales Teams</a></li>
              <li><a class="dropdown-item" href="/mt">Marketing Teams</a></li>
              <li><a class="dropdown-item" href="/support">Customer Support</a></li>
              <li><a class="dropdown-item" href="/ecommerce">Ecommerce</a></li>
              <li><a class="dropdown-item" href="/healthcare">Healthcare</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Integrations
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/crm">Zoho CRM</a></li>
              <li><a class="dropdown-item" href="/shopify">Shopify</a></li>
              <li><a class="dropdown-item" href="/woocommerce">WooCommerce</a></li>
              <li><a class="dropdown-item" href="/zapier">Zapier</a></li>
              <li><a class="dropdown-item" href="/hubspot">HubSpot</a></li>
              <li><a class="dropdown-item" href="/pabbly">Pabbly Connect</a></li>
              <li><a class="dropdown-item" href="/integromat">Make aka Integromat</a></li>
              <li><a class="dropdown-item" href="/shop">WhatsApp Shop</a></li>
              <li><a class="dropdown-item" href="/backup">Chat Backup</a></li>
              <li><a class="dropdown-item" href="/googlesheet">Google Sheet Sender</a></li>
              <li><a class="dropdown-item" href="/klaviyo">Klaviyo</a></li>
              <li><a class="dropdown-item" href="/flow">Zoho Flow</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Affiliate/Partners
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/affiliate">Become an Affiliate</a></li>
              <li><a class="dropdown-item" href="/partner">Become a Partner</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Resources
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/ebooks">Free Ebooks</a></li>
              <li><a class="dropdown-item" href="/stories">Customer Stories</a></li>
              <li><a class="dropdown-item" href="/Watipedia">Watipedia</a></li>
              <li><a class="dropdown-item" href="https://academy.wati.io/" target="_blank" rel="noopener">Wati Academy(Free)</a></li>
              <li><a class="dropdown-item" href="https://www.udemy.com/course/whatsapp-targeted-marketing/" target="_blank" rel="noopener">Free Udemy Course</a></li>
              <li><a class="dropdown-item" href="/templates">WhatsApp Templates(Free)</a></li>
              <li><a class="dropdown-item" href="/branding">Brand Guidlines</a></li>
              <li><a class="dropdown-item" href="/library">Chatbot Library</a></li>
            </ul>
          </li>
        <li class="nav-item"> <a class="btn wht brdr" href="#" role="button" style="background-color:rgb(85, 245, 154)">Book Demo</a></li>
        <li class="nav-item"> <a class="btn wht brdr" href="#" role="button" style="background-color: rgb(85, 245, 154);">Dashboard</a></li>
        </ul>
      </div>
    </div>
  </nav>
 
