

 <section class="waf2 paddwat30" style="visibility:visible;">
    <div class="container my-4">
      <h3 style="text-align:center;">
        <strong>Trusted by the <span class="color">fastest growing brands</span>
        in rapidly developing economics</strong></h3>
        <br>
        <br>
        <div id="slider">
             <div class="owl-carousel owl-theme">
            <div class="item">
              <img src="images/ytt_logo.webp" class="d-block w-100" alt="Yip" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/mivi.svg" class="d-block w-100" alt="mivi" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/Oxwhitee.svg" class="d-block w-100" alt="Zoomcar" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/edureka.svg" class="d-block w-100" alt="edureka" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/Adventurrush.svg" class="d-block w-100" alt="Adventurrush" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/Emami.svg" class="d-block w-100" alt="Emami" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/Killer.svg" class="d-block w-100" alt="killer" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/ITC.svg" class="d-block w-100" alt="ITC" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/Pillup.svg" class="d-block w-100" alt="Pillup" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/TVS-assure-1.svg" class="d-block w-100" alt="TVS" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/Li-ning-svg.svg" class="d-block w-100" alt="Lining" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/gojek.svg" class="d-block w-100" alt="go jek" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/tiktok.svg" class="d-block w-100" alt="Tiktok" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/dukan.svg" class="d-block w-100" alt="dukan" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/Welspun-logo.svg" class="d-block w-100" alt="welspun" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/Changi-airport.svg" class="d-block w-100" alt="changi" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/Za-insure-logo.svg" class="d-block w-100" alt="Za-insure-logo" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/fusion.svg" class="d-block w-100" alt="fusion" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/JP-morgan-bank.svg" class="d-block w-100" alt="Jp morgan" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/We-lend-logo.svg" class="d-block w-100" alt="We-lend-logo" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/Ngong-Ping-360.svg" class="d-block w-100" alt="Ngong" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/Zoomar.svg" class="d-block w-100" alt="Zoomar" width="150" height="50">
            </div>
            <div class="item">
              <img src="images/swine.svg" class="d-block w-100" alt="swine" width="150" height="50">
            </div>
          </div>
        </div>   
        </div>
  </section>

